@import '../../../../styles/variables/colors';
@import '../../../../styles/variables/fonts';

.login-card{
	font-family: $primary-font;
	border: solid red 1px;
	width: 100%;
}

.grey{
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: $abu-abu-lainnya;
}

.kecil{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #606060;
}

.cunt{
	font-family: $primary-font;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.1em;
	color: $color-primary;
}

#loginbutton{
	position: relative;
	width: 388px;
	height: 48px;
	border-radius: 50px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
}


.form-control{
position: relative;
	width: 388px;
	height: 48px;
	background: $abu-abu-putih;
	border-radius: 50px;
	border: 0px;
	padding-left: 30px;
}


.teks{
	// font-family: $primary-font;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #606060;
}

.teksbesar{
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 49px;
	text-align: center;
	color: #606060;
}

.enab{
	color: $putih-tok;
	background: $color-primary;
	border: solid $color-primary 1px;
	cursor: pointer;
}

.disab{
	color: $abu-abu-sesuatu;
	background: $abu-abu-muda;
	border: solid $abu-abu-muda 1px;
	cursor: none;
}

::ng-deep .mat-horizontal-stepper-header-container {
	display: none !important;
  }