@import '../../../../styles/variables/colors';
@import '../../../../styles/variables/fonts';

#popup-wording{
	position:relative;width:100%;text-align:center;padding:25px 60px 0px 60px;font-family: $secondary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #5F5F5F;
}

#popup-option{
	position:relative;float:left;width:100%;
}

#popup-option-button{
	position: relative;width: 50%;float: left;height:40px;margin-top:10px;
}

.divbutton-left{
	float:center;position: relative;width: 85%;
			background-color: #A9A9A9;
			border-radius: 8px;font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			display: flex;
			align-items: center;padding-left:40px;
			text-align: center;cursor: pointer;color: #FFFFFF;height:32px;
			font-family: $secondary-font;
}

.divbutton-right{
	float:center;position: relative;width: 85%;
			background-color: #DB0A2A;
			border-radius: 8px;font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			display: flex;
			align-items: center;padding-left:40px;
			text-align: center;cursor: pointer;color: #FFFFFF;height:32px;
			font-family: $secondary-font;
}

#popup-option-button-all{
	position: relative;width: 100%;float: left;height:40px;
}