<wsv wide="40px"></wsv>
<div class="d-flex">
	<wsh wide="30px"></wsh>

	<div class="flex-grow-1">
		<div class="label-title">
			Informasi Personal
		</div>
		<wsv wide="40px"></wsv>
		<div>
			<info-personal-row label="Nama Depan"
				#firstname
				ids="firstname"
				[isEditting]="isEditting"
				content="{{firstName}}"
				(firstnameEdit)='firstnameChange($event)'></info-personal-row>

			<wsv wide="24px"></wsv>
			<info-personal-row label="Nama Belakang"
				ids="lastname"
				[isEditting]="isEditting"
				content="{{lastName}}"
				(lastnameEdit)='lastnameChange($event)'></info-personal-row>
		</div>
		<wsv wide="40px"></wsv>

		<red-button *ngIf="isEditting"
			(click)="save()"
			label="Simpan"
			font="14px"
			paddingtop="10px"
			paddingbottom="10px"
			paddingleft="100px"
			paddingright="100px"></red-button>
		<red-button *ngIf="!isEditting"
			(click)="edit()"
			label="Edit"
			font="14px"
			paddingtop="10px"
			paddingbottom="10px"
			paddingleft="100px"
			paddingright="100px"></red-button>
	</div>
	<div>
		<div id="email-label">
			{{email}}
		</div>
	</div>
</div>
