<div id="div-price-top"
	class="d-flex align-items-center justify-content-between">
	<div class="font2">Kredit Tersedia</div>
	<div class="d-flex justify-content-between harga-per-item">
		<div class="font1">Rp</div>
		<!-- <div class="font1">{{pertotalan.saldo|rupiah}}</div> -->
		<div class="font1">{{datacompany?.credit_rp | rupiah:'no-rp'}}</div>
	</div>
</div>
<div id="div-price-below">
	<div class="d-flex justify-content-between">
		<div class="font1">Total Belanja</div>
		<div class="d-flex justify-content-between harga-per-item">
			<div class="font1">Rp</div>
			<div class="font1">{{pertotalan.totalPrice| rupiah:'no-rp'}}</div>
		</div>

	</div>

	<wsv wide="10px"></wsv>

	<div class="d-flex justify-content-between">
		<div class="font1">Fee {{datacompany?.fee_percentage}}%</div>

		<div class="d-flex justify-content-between harga-per-item">
			<div class="font1">Rp</div>
			<div class="font1">{{pertotalan.totalFee| rupiah:'no-rp'}}</div>
		</div>
	</div>

	<wsv wide="10px"></wsv>
	<div id="cr-hr1"></div>
	<wsv wide="10px"></wsv>

	<div class="d-flex justify-content-between">
		<div class="font2">Sub Total</div>
		<div class="d-flex justify-content-between harga-per-item">
			<div class="font2">Rp</div>
			<div class="font2">{{pertotalan.subtotal| rupiah:'no-rp'}}</div>
		</div>
	</div>

	<wsv wide="10px"></wsv>

	<div class="d-flex justify-content-between">
		<div class="font1">PPN</div>

		<div class="d-flex justify-content-between harga-per-item">
			<div class="font1">Rp</div>
			<div class="font1">{{pertotalan.ppn| rupiah:'no-rp'}}</div>
		</div>
	</div>

	<wsv wide="10px"></wsv>

	<div class="d-flex justify-content-between">
		<div class="font1">PPh 23</div>

		<div class="d-flex justify-content-between harga-per-item">
			<div class="font1">Rp</div>
			<div class="font1">{{pertotalan.ppn3| rupiah:'no-rp'}}</div>
		</div>
	</div>

	<wsv wide="10px"></wsv>

	<div class="d-flex justify-content-between">
		<div class="font1">Total Ongkos Kirim</div>

		<div class="d-flex justify-content-between harga-per-item">
			<div class="font1">Rp</div>
			<div class="font1">{{pertotalan.ongkir| rupiah:'no-rp'}}</div>
		</div>
	</div>


	<wsv wide="20px"></wsv>
	<div id="cr-hr1"></div>
	<wsv wide="10px"></wsv>

	<div class="d-flex justify-content-between">
		<div id="label-ringkasan">Grand Total</div>

		<div class="d-flex justify-content-between harga-per-item">
			<div id="label-ringkasan">Rp</div>
			<div id="label-ringkasan">{{pertotalan.grandtotal| rupiah:'no-rp'}}</div>
		</div>
	</div>

	<wsv wide="10px"></wsv>

	<div [className]="buttonAvail ? 'btn-shw':'btn-hide'">
		<button type="button"
			[className]="buttonDisable ?  'btn btn-price-abu2':'btn btn-price-next'"
			(click)="clickButtonLabel()">{{buttonLabel}}</button>
	</div>
</div>


<wsv wide="20px"></wsv>
<div id="label-warning-tidak-diproses">
	*Barang out of stock & area tidak terjangkau tidak akan diproses
</div>
