<wsv wide="28px"></wsv>
<div class="d-flex justify-content-between">
    <div class="label-title">
        Dashboard
    </div>
    <div class="d-flex"
        id="filter-wrapper">
        <nz-date-picker nzMode="year"
            [(ngModel)]="date"
            (ngModelChange)="onChange($event)"></nz-date-picker>
        <!-- <wsh wide="24px"></wsh>
        <filter-dropdown-list class="flex-even"></filter-dropdown-list> -->
    </div>
</div>

<output-graph #inputgetData
    [items_month]="items_month"
    [items_purchaser]="items_purchaser"
    [items_product]="items_product"></output-graph>
