@import '../../../../styles/variables/colors';

#cs_logo {
	width: 200px;
	height: 68px;
}

.footer-feature-label {
	color: #606060;
	margin-left: 33%;
	margin-top: -18%;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	width: 150px;
}
