@import '../../../../styles/variables/colors';

#cs_logo {
	width: 200px;
	height: 68px;
	margin-right: 20px;
}

.putih {
	background-color: $putih-tok;
	height: 100%;
	margin-left: -6%;
}

.footer-feature-label {
	color: #606060;
	margin-left: 33%;
	margin-top: -18%;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
}
