<div>
	<div class="d-flex justify-content-center">
		<div id="image-cart-empty">
			<img id="cart-empty-logo"
				src="../../../../assets/image/logo/tanda-seru.svg">
		</div>
	</div>
	<wsv wide="25px"></wsv>
	<div class="d-flex justify-content-center">
		<div class="label-cart-empty">Anda belum melakukan pembelian</div>
	</div>
	<wsv wide="25px"></wsv>
	<div class="d-flex justify-content-center">
		<div class="btn-empty-cart">
			<button type="button"
				class="btn btn-cart-empty"
				(click)="mulaiBelanja()">Mulai Belanja</button>
		</div>
	</div>
</div>
