.main-container {
	height: 100vh;
	overflow: hidden;
	background-image: url('../../../../assets/image/icons/login-page.svg');
	background-position: right 0px bottom 10%;
	background-repeat: no-repeat;
	background-size: 100%;
}
