<div id="filter-card-container">
	<div id="filter-label">Filter</div>
	<div id="filter-label-2">Lokasi</div>
	<div class="d-flex justify-content-center align-items-center">
		<input type="text"
			class="textbox-search-with-logo"
			placeholder="Search">
	</div>
	<div class="filter-card-underline"></div>
	<div id="filter-label-2">Harga</div>
	<input id="minimum-input"
		type="text"
		class="textbox-search"
		placeholder="Minimum">
	<div class="filter-card-underline"></div>
	<input id="maximum-input"
		type="text"
		class="textbox-search"
		placeholder="Maximum">

	<div class="filter-card-underline"></div>

	<div class="white-space"></div>
	<div id="Terapkan button"
		class="red-button">Terapkan</div>
</div>
