<div id="filter-card-container">
  <div id="filter-label">Filter</div>

  <div id="filter-label-2">Harga</div>

  <input id="minimum-input"
    [(ngModel)]="minvalue"
    class="textbox-search"
    autonumeric
    [options]="myOptions" />
  <div class="filter-card-underline"></div>

  <input id="maximum-input"
    [(ngModel)]="maxvalue"
    class="textbox-search"
    autonumeric
    [options]="myOptions" />
  <div class="filter-card-underline"></div>

  <div class="white-space"></div>
  <red-button id="Terapkan button"
    class="red-button"
    label="Terapkan"
    font="14px"
    paddingtop="10px"
    paddingbottom="10px"
    paddingleft="0px"
    paddingright="0px"
    float="right"
    (click)="carilagi(minvalue,maxvalue)"></red-button>

</div>
