<div class="wrapper">
	<div class="d-flex justify-content-between align-items-center">
		<div class="label-1 ">
			Status Pembelian
		</div>
		<div class="label-2">
			Di proses
		</div>
	</div>
	<horizontal-line></horizontal-line>
	<div class="label-3">Tagihan</div>
	<div>
		<div class="d-flex justify-content-between">
			<div class="label-5">Harga Belanja</div>
			<div class="d-flex justify-content-between width-1">
				<div class="label-5">Rp</div>
				<div class="label-5">5.000.000</div>
			</div>
		</div>
		<div class="d-flex justify-content-between">
			<div class="label-5">Total Ongkos Kirim</div>
			<div class="d-flex justify-content-between width-1">
				<div class="label-5">Rp</div>
				<div class="label-5">5.000.000</div>
			</div>
		</div>
	</div>

	<div class="label-6">*Harga belanja belum termasuk pajak</div>
	<horizontal-line></horizontal-line>
	<div class="label-1 ">
		Alamat Pengiriman:
	</div>

</div>
