@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#alamat-utama-indicator {
	border: 0.5px solid $color-primary;
	box-sizing: border-box;
	border-radius: 20px;
	width: 140px;

	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;

	color: $color-primary;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	white-space: nowrap;
}

#set-utama-button {
	width: 140px;
	background: $color-primary;
	border-radius: 20px;
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #ffffff;
	white-space: nowrap;
}
