@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

.address-button-label {
	position: relative;
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	align-items: center;
	text-align: center;
	color: $abu-abu-gelap;
	cursor: pointer;
	font-weight: 600;
	display: flex;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 200px;
	width: auto;
	overflow: hidden;
}

.address-button-label :hover {
	color: $merah-root-beat;
	text-decoration: underline;
}

.selected {
	color: $merah-root-beat;
	// text-decoration: underline;
}

.asoy :hover {
	text-decoration: underline;
	white-space: nowrap;
	width: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.warn-notif {
	position: relative;
	float: left;
	z-index: 0;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: transparent;
	margin-top: -10px;
}

.show {
	background-color: $kuning-emas;
}
