@import '../../../../styles/variables/colors';


	

	
#headers {
	font-family: Raleway;
	color: $putih-gelap-dikit;
	z-index: 1000;
	width: 100%;
	height: 80px;
	background: $color-primary;
	box-shadow: $box-shadow-2;
	position: fixed;
	top: 0;
}

#headers-logo {
	height: 39.02px;
	width: 80.12px;
	cursor: pointer;
}

.white-space-78px {
	width: 78px;
}

.white-space-26px {
	width: 26px;
}
.white-space-110px {
	width: 110px;
}
.white-space-60px {
	width: 60px;
}
#headers-search {
	width: 500px;
	height: 80px;
	border: solid yellow 0px;
}

#container ng-untouched ng-pristine ng-valid{
	border: solid greenyellow 0px;
}

#mat-form-field{
	width:100%;
}
 
#mat-autocomplete{
	border:solid green 0px;height:0;
}

.mat-form-field-infix{
	height:0px;
}

.textbox-header-search {
	height: 40px;
	width: 500px;
	border: solid $putih-tok 1px;
	border-radius: 5px;
	color: $abu-abu-aspal;
	font-size: 14px;
	padding-left: 20px;
	padding-right: 0px;
	// background: url('../../../../assets/image/icons/searchbutton.png') 5px no-repeat;
	background-color: $putih-tok;
	background-position: right 25px center;
	background-size: 22px;
	border: solid yellow 0px;
}

#searchbutton{
	margin-left:-50px;
	margin-top:5px;
	background: url('../../../../assets/image/icons/searchbutton.png') 15px no-repeat;
	background-position: right 5px center;
	background-position: top 10px bottom;
	background-size: 22px;
	position: absolute;
	width: 45px;
	padding-top:20px;
	height: 30px;
	padding: 0px;
	border:0px;
}

.mat-focused .placeholder {
	color: transparent;
}

.placeholder{
	z-index: 9999;
	position: relative;
	background-color: transparent;
	color: $abu-abu-aspal;
	padding-left: 30px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#headers-cart {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	cursor: pointer;
}

#headers-username {
	font-size: 18px;
	margin-right: 10px;
	font-family: OpenSans;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	text-align: right;
	cursor: pointer;
}

#headers-user-photo {
	border: solid $putih-tok 3px;
	border-radius: 50%;
	height: 55px;
	width: 55px;
	cursor: pointer;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
	height: 0px;
}