<div id="headers">

	<div class="container d-flex align-items-center">
		<div id="div-logo">
			<img id="headers-logo"
				(click)="backToHome()"
				src="../../../../assets/image/logo/nest-logo.svg"
				height="74"
				width="81">
		</div>

		<div class="white-space-60px"></div>


		<div class="d-flex flex-column bd-highlight mb-3"
			id="header-center">
			<div class="header-center-top">
				<div class="d-flex align-items-start bigtext"
					id="hct-left">{{datacompany?.trade_name}}</div>
				<div class="d-flex align-items-center upfirst"
					id="hct-center">{{datauser?.fullname}}</div>
				<div class="d-flex align-items-end"
					id="hct-right">

					<div class="d-flex bd-highlight"
						id="right-shortcut">
						<div class="p-2 flex-fill bd-highlight"
							id="div-approval"
							(click)="goToPage('./approval')">
							<div class="warn-label">Approval</div>
							<div class="warn-notif show">6</div>
						</div>


						<div class="p-2 flex-fill bd-highlight"
							id="div-transaksi"
							(click)="goToPage('./transaction')">
							<div class="warn-label">Transaksi</div>
							<div class="warn-notif show">2</div>
						</div>
						<div class="p-2 flex-fill bd-highlight"
							id="div-cart"
							(click)="goToCart()">
							<img src="../../../../assets/image/icons/cart-logo.svg"
								style="width:25px;"
								id="headers-cart">
							<div class="warn-notife show">2</div>

						</div>
					</div>

				</div>

			</div>
			<div class="header-center-middle">
			</div>
			<div class="header-center-bottom">
				<div class="d-flex justify-content-start"
					id="header-kategori">
					<header-category-button></header-category-button>
				</div>


				<div class="d-flex justify-content-between"
					id="header-pencarian">
					<div id="headers-search"
						class="d-flex justify-content-center align-items-center">
						<form class="container"
							style="padding:0px;"
							[formGroup]="myControl">



							<input type="text"
								class="textbox-header-search"
								aria-label="Number"
								matInput
								[formControl]="myControl"
								[matAutocomplete]="auto"
								placeholder="Search">


							<mat-autocomplete autoActiveFirstOption
								id="mat-autocomplete"
								#auto="matAutocomplete"
								style="z-index: 9999;">
								<mat-option *ngFor="let option of filteredOptions | async"
									[value]="option">
									{{option}}
								</mat-option>
							</mat-autocomplete>

							<button type="submit"
								id="searchbutton">
							</button>

						</form>

					</div>

				</div>

				<div class="d-flex justify-content-end"
					id="div-saldo">
					<div class="div-saldo-left">
						<img src="../../../../assets/image/icons/wallet.svg">
					</div>
					<div class="div-saldo-right">
						Rp. {{datacompany?.credit_rp | number}}
					</div>
				</div>


			</div>
		</div>




		<div class="white-space-100px"></div>
		<div class="ml-auto d-flex align-items-center">

			<div id="headers-user-menu">
				<img id="headers-user-photo"
					src="../../../../assets/image/icons/pp.jpg">
			</div>
		</div>

	</div>


</div>
