@import '../../../../styles/variables/colors';
@import '../../../../styles/variables/fonts';

#headers {
	font-family: $secondary-font;
	color: $putih-gelap-dikit;
	z-index: 1000;
	width: 100%;
	background: $color-primary;
	box-shadow: $box-shadow-2;
	padding-top: 5px;
	padding-bottom: 2px;
	position: fixed;
	top: 0;
}

#company-name {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	text-transform: uppercase;
	cursor: pointer;
}

#separator {
	height: 24px;
	width: 1px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: #ffffff;
}

.separator-2 {
	height: 1px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #ffffff;
}

.label-1 {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	text-transform: capitalize;
	cursor: pointer;
}

#div-logo {
	margin-left: 0px;
	position: relative;
	width: 90px;
	float: left;
	height: 100px;
	padding-top: 5px;
}

#headers-logo {
	height: 74px;
	width: 81px;
	cursor: pointer;
}

#searchbutton {
	margin-left: -50px;
	background: url('../../../../assets/image/icons/button-cari.png') 10px
		no-repeat;
	background-position: right 15px center;
	background-position: top 10px bottom;
	background-size: 22px;
	position: absolute;
	width: 50px;
	padding-top: 10px;
	margin-top: -1px;
	height: 40px;
	padding: 0px;
	border: 0px;
	background-color: $kuning-emas;
	border-radius: 1px 31px 31px 1px;
}

#container ng-untouched ng-pristine ng-valid {
	border: solid greenyellow 0px;
}

#mat-form-field {
	width: 100%;
}

#mat-autocomplete {
	border: solid green 0px;
	height: 0;
}

.mat-form-field-infix {
	height: 0px;
}

.textbox-header-search {
	height: 40px;
	width: 557px;
	border: solid $putih-tok 1px;
	color: $abu-abu-aspal;
	font-size: 14px;
	padding-left: 20px;
	padding-right: 0px;
	background: url('../../../../assets/image/icons/searchbutton.png') 5px
		no-repeat;
	background-color: $putih-tok;
	background-position: right 25px center;
	background-size: 22px;
	border-radius: 25px;
}

#searchbutton {
	margin-left: -50px;
	background: url('../../../../assets/image/icons/button-cari.png') 10px
		no-repeat;
	background-position: right 15px center;
	background-position: top 10px bottom;
	background-size: 22px;
	position: absolute;
	width: 50px;
	padding-top: 10px;
	height: 40px;
	padding: 0px;
	border: 0px;
	background-color: $kuning-emas;
	border-radius: 1px 31px 31px 1px;
}

.mat-focused .placeholder {
	color: transparent;
}

.placeholder {
	z-index: 9999;
	position: relative;
	background-color: transparent;
	color: $abu-abu-aspal;
	padding-left: 30px;
}

.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}

.example-full-width {
	width: 100%;
}

#headers-cart {
	cursor: pointer;
}

#headers-username {
	margin-right: 10px;
	font-family: $primary-font;
	text-align: right;
	cursor: pointer;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
}

#headers-user-photo {
	border: solid $putih-tok 3px;
	border-radius: 50%;
	height: 65px;
	width: 65px;
	cursor: pointer;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
	height: 0px;
}

.mat-autocomplete-panel.mat-autocomplete-visible {
	visibility: visible;
	width: 97%;
	margin: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.warn-notif {
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	top: 0px;
	right: 0px;
	color: $putih-tok;
	font-size: 8px;
	font-family: $primary-font;
	line-height: 12px;
	font-weight: bold;
	text-align: center;
	background-color: $kuning-emas;
}

.relative {
	padding-top: 5px;
	padding-right: 14px;
	position: relative;
	cursor: pointer;
}

.credit {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	/* identical to box height */

	text-align: right;
}
