<div id="main-wrapper">
    <div class="rectangle-87">
        <div class="d-flex header-wrapper align-items-center">
            <div id="kolom-satu">
                <div class="label-gray">{{item.supplier_name}}</div>
                <div class="label-gray-2">{{item.updated_at | tanggal: 'tgl'}}</div>
            </div>
            <div class="d-flex flex-grow-1 justify-content-between">
                <div>
                    <div class="label-gray">Ongkos Kirim</div>
                    <div class="label-gray-2">{{item.shipping_cost|rupiah}}</div>
                </div>
                <div>
                    <div class="label-gray">Harga Belanja</div>
                    <div class="label-gray-2">{{item.grand_total| rupiah : 'bulat'}}</div>
                </div>
            </div>

        </div>
        <div class="rectangle-86 w-100 d-flex">
            <wsh wide="13px"></wsh>
            <img src='{{item.product_image}}'
                (error)="onImgError($event)"
                class="item-img">
            <wsh wide="15px"></wsh>
            <div id="item-desc-wrapper">
                <item-desc [item]="item"></item-desc>
                <wsv wide="6px"></wsv>
                <div class="label-gray">Jumlah {{item.quantity}} barang</div>
            </div>

        </div>
    </div>

    <div id="masking"
        *ngIf="blurItem()"
        class="rectangle-87">
    </div>

    <div id="above-masking"
        *ngIf="blurItem()"
        class="rectangle-87 d-flex flex-row-reverse align-items-end">
        <div id="out-of-stock"
            class="d-flex justify-content-center align-items-center">
            {{status()}}
        </div>
    </div>
</div>
