@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

.white-rounded-corner-item-list-cart {
	background: $putih-tok;
	border-radius: 8px;
	width: 703px;
	padding: 14px;
}

.out-of-stock {
	background: rgba(255, 255, 255, 0.6);
	background-blend-mode: soft-light;
	mix-blend-mode: screen;
}

#quantity-item-cart {
	font-family: $primary-font;
	font-weight: 600;
	font-size: 12px;

	color: $abu-abu-gelap;
}

#trash-can {
	width: 21px;
	height: 20.76px;
}

#item-telah-dihapus {
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;

	color: #ffffff;
}
