<wsv wide="16px"></wsv>
<div *ngFor="let item of items">
	<div id="wrapper-1">
		<div [className]="'white-rounded-corner-item-list-cart'">
			<div class="d-flex align-items-center">
				<check-box-round [checked]="shouldSelectItem(item.outOfStock, item.selected)"
					(click)="item.selected = !item.selected"
					[allowChanges]="!item.outOfStock"></check-box-round>
				<wsh wide="10px"></wsh>
				<cart-item-list [redirlink]="true"
					[item]="item">
					<div class="d-flex align-items-center"
						id="qty-div">
						<qty-ctrl notif="true"
							allowChanges="true"
							[qtyObject]="item.qtyObject"
							(qtyChangeEvent)="test($event)"></qty-ctrl>
						<wsh wide="250px"></wsh>
						<img id="trash-can"
							src="../../../../../assets/image/icons/trash_can.png"
							(click)="deleteItem(dangerTpl)" />
					</div>
				</cart-item-list>
			</div>

		</div>
		<div id="wrapper-2"
			*ngIf="item.outOfStock"></div>
		<div id="wrapper-3"
			*ngIf="item.outOfStock">
			<div id="wrapper-above-layer"
				class="d-flex">
				<div id="out-of-stock-label">Out Of Stock</div>
				<wsh wide="20.39px"></wsh>
				<img id="trash-can-2"
					src="../../../../../assets/image/icons/trash_can.png"
					(click)="deleteItem(dangerTpl)" />
			</div>

		</div>
	</div>
	<wsv wide="24px"></wsv>
</div>

<ng-template #dangerTpl>
	<div class="d-flex align-self-center justify-content-center">
		<div id="item-telah-dihapus">Item telah dihapus</div>
	</div>
</ng-template>
