@import '../../../../styles/variables/colors';
@import '../../../../styles/variables/fonts';



#location-user {
	width: 50%;
	margin: auto;
	color: white;
	height: 50px;
	position: relative;
	border-radius: 8px;
	background: url('../../../../assets/image/icons/location-icon.png') #333132
		no-repeat;
	background-position: left 20px center;
	background-size: 16px 25px;
	cursor: pointer;
}


#location-user-panjang {
	width: 50%;
	margin: auto;
	color: white;
	height: 50px;
	position: relative;
	border-radius: 8px;
	background: url('../../../../assets/image/icons/location-icon.png') #333132
		no-repeat;
	background-position: left 20px center;
	background-size: 16px 25px;
	cursor: pointer;
}

#location-user-pendek {
	width: 75%;
	margin: auto;
	color: white;
	height: 50px;
	position: relative;
	border-radius: 20px;
	background: url('../../../../assets/image/icons/location-icon.png') #333132
		no-repeat;
	background-position: left 20px center;
	background-size: 16px 25px;
	cursor: pointer;
}

#location-user-detail {
	position: relative;
	float: left;
	width: 90%;
	font-family: $secondary-font;
	color: $putih-tok;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	display: flex;
	align-items: center;
	text-align: center;
	padding-left: 50px;
	padding-top: 17px;
}

#location-arrow {
	width: 7%;
	float: left;
	background: url('../../../../assets/image/icons/arrow-down.png') transparent
		no-repeat;
	background-position: right 10px center;
	background-size: 22px 10px;
	border: solid yellow 0px;
	height: 50px;
	cursor: pointer;
}
