<div class="d-flex justify-content-between align-items-center">
    <div id="header">
        Tambah Supplier Baru
    </div>
    <img id="close-dialog-button"
        (click)="batal()"
        src="../../../../../assets/image/icons/ic-x.png"
        style="width:16px">
</div>

<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="NAMASUPP"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>


        <rounded-input width="298px"
            placeholderText="NAMASUPP"
            (onUserInput)="onUserInput($event,'NAMASUPP')"></rounded-input>

    </div>
    <wsh wide="16px"></wsh>
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="KODESUPP"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText="KODESUPP"
            (onUserInput)="onUserInput($event,'KODESUPP')"></rounded-input>
    </div>

</div>

<wsv wide="12px"></wsv>
<horizontal-line></horizontal-line>
<wsv wide="12px"></wsv>

<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="Detail Alamat 1"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="788px"
            placeholderText="Jl. Raya "
            (onUserInput)="onUserInput($event,'ALAMAT1')"></rounded-input>
    </div>
</div>

<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="Detail Alamat 2"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="788px"
            placeholderText="Jl. Raya "
            (onUserInput)="onUserInput($event,'ALAMAT2')"></rounded-input>
    </div>
</div>

<wsv wide="12px"></wsv>
<horizontal-line></horizontal-line>
<wsv wide="12px"></wsv>




<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="NOTELP"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'NOTELP')"></rounded-input>

    </div>
    <wsh wide="24px"></wsh>
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="NOFAX"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'NOFAX')"></rounded-input>
    </div>

</div>



<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="STSSUPP"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'STSSUPP')"></rounded-input>
    </div>
    <wsh wide="24px"></wsh>
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="APGRPID"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'APGRPID')"></rounded-input>
    </div>

</div>


<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="TYPESUPP"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'TYPESUPP')"></rounded-input>
    </div>
    <wsh wide="24px"></wsh>
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="ASAL"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'ASAL')"></rounded-input>
    </div>

</div>



<wsv wide="12px"></wsv>
<horizontal-line></horizontal-line>
<wsv wide="12px"></wsv>
<div class="d-flex">


    <div class="flex-even">
        <div class="d-flex justify-content-end align-items-center">

        </div>
    </div>
</div>
<wsv wide="12px"></wsv>


<wsv wide="12px"></wsv>
<div class="d-flex justify-content-between align-items-center">
    <div>* Wajib diisi</div>
    <div class="d-flex">
        <button-gray label="Batal"
            style="cursor: pointer;"
            (click)="batal()"></button-gray>
        <wsh wide="16px"></wsh>

        <rounded-red-button *ngIf="valid()"
            label="Tambah"
            font="14px"
            paddingtop="5px"
            paddingbottom="5px"
            paddingleft="30px"
            paddingright="30px"
            (click)="submit()"
            float="right"></rounded-red-button>

        <rounded-gray-button *ngIf="!valid()"
            label="Tambah"
            font="14px"
            paddingtop="5px"
            paddingbottom="5px"
            paddingleft="30px"
            paddingright="30px"
            float="right"></rounded-gray-button>
    </div>
</div>
