<block-ui>
	<div class="container d-flex">
		<div *ngIf="total_item == 0 else elseBlock"
			class="w-100 d-flex justify-content-center">

			<div>
				<wsv wide="150px"></wsv>
				<empty-cart></empty-cart>
			</div>
		</div>

		<ng-template #elseBlock>
			<div class="w-100">

				<div id="top-fixed">
					<div id="keranjang-label">KERANJANG</div>
					<wsv wide="10px"></wsv>
					<address-section wide="600px"
						borderRadius='20px'
						margin="0px">
					</address-section>
					<wsv wide="20px"></wsv>
					<pilih-semua (onPilihSemuaCheckboxClick)="pilihSemuaClickEvent($event)"></pilih-semua>
					<wsh wide="10px"></wsh>
				</div>
				<div class="d-flex">
					<div [style.height.px]="leftContainerHeight"
						id="item-list"
						class="w-100">
						<div *ngFor="let item of items; let i = index">
							<item-card [item]="item"
								(onUpdateQty)="updateItemCartList($event,i)"
								(onDeleteItem)="deleteItemCartList(i)"></item-card>
							<wsv wide="40px"></wsv>
						</div>
					</div>
					<wsh wide="30px"></wsh>
					<box-cart-price class="box-cart-price"
						[pertotalan]="calculate()"
						buttonLabel="Selanjutnya"
						(buttonBoxCartPriceClick)="selanjutnyaClick()"
						[buttonDisable]="numberOfItemsSelected() == 0"></box-cart-price>

				</div>
			</div>

		</ng-template>
	</div>
</block-ui>
