@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#keranjang-label {
	font-family: $primary-font;
	font-weight: bold;
	font-size: 24px;
	color: $abu-abu-gelap;
	margin-top: 20px;
}
