#arrow_next {
	position: absolute;
	height: 72px;
	width: 72px;
	top: 260px;
	right: 360px;
	z-index: 2;
}

#arrow_prev {
	position: absolute;
	height: 72px;
	width: 72px;
	top: 260px;
	left: 360px;
	z-index: 2;
}

#carousel_container {
	width: 1124px;
	height: 298px;
}

.slide_item {
	width: 570px;
	height: 250px;
	border-radius: 20px;
	padding: 10px;
}
