@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#top-rekap{
	height: 112px;
	min-height: 122px;
	border-bottom: 0.5px solid #E2E2E2;
	padding: 15px;
}

#kotak-rekap{
	// border: solid greenyellow 2px;
	width:95%;margin:auto;
}


.pad{
	padding: 20px;
}

#middle-rekap{
	height: 112px;
	min-height: 138px;
	border-bottom: 0.5px solid #E2E2E2;
	padding: 15px;
	font-family: $primary-font;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 10px;
font-feature-settings: 'kern' off;
color: #606060;
}

#request-approval{
	width: 100%;
	position: relative;
	min-height: 100px;
	font-family: $primary-font;
	padding: 15px;
}

.rap-row{ 
	width:95%;
	text-align: left;
	word-wrap: normal;
	font-style: normal;
	font-size: 14px;
	line-height: 18px;
	font-feature-settings: 'kern' off;
}


.black{
	font-weight: bold;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: -0.02em;
	font-feature-settings: 'kern' off;
	color: $abu-abu-gelap;
	padding-left:15px;
}

.red{
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: -0.02em;
	font-feature-settings: 'kern' off;
	color: $color-primary;
}

.redsmall{
	font-family: $primary-font;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 22px;
	font-feature-settings: 'kern' off;
	color: $color-primary;
}

.grey{
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	font-feature-settings: 'kern' off;
	font-family: $primary-font;
	color: $abu-abu-sesuatu;
	padding-left:15px;
}

#tengah{
	width: 47%;
	position: relative;
	float: left;
	padding: 15px 0px 0px 15px;
}

.panjang{
	width:100%;
}

#full{
	width:95%;
	padding-top: 20px;
	// border:solid 1px blue;
}

.tp{
	width:30%;
}

#totalharga{
	width:100%;
	border: solid red 0px;
	padding:0px;
	margin:0px;
	line-height: 8px;
	margin-top:-15px;
}

#remarktagihan{
	width:95%;
	height:30px;
	position: relative;
	float: left;
	margin-top:-5px;
	padding-left:10px;
}

.penuh{
	width: 100%;
}

.cetek{
	height:30px;
	margin-top:5px;
	padding:0px;
	border: solid black 1px;
	
}

.lf{
	width: 180px;
}

.ct{
	width: 30px;
}

.rg{
	width: 150px;
	text-align:right;
}