<div>
	<div id="product-detail-label">Sweater Merah</div>
	<wsv wide="29.33px"></wsv>
	<discount-harga-coret></discount-harga-coret>
	<wsv wide="50px"></wsv>
	<info-row title="warna">
		<warna></warna>
	</info-row>
	<wsv wide="18px"></wsv>
	<info-row title="Berat">
		<span class="info-row-content">2.400gr</span>
	</info-row>
	<wsv wide="18px"></wsv>
	<info-row title="Stok">
		<span class="info-row-content">25</span>
	</info-row>
	<wsv wide="61px"></wsv>
	<qty-ctrl notif="true"
		allowChanges="true"></qty-ctrl>
</div>
