@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#product-detail-label {
	font-size: 36px;
	color: $abu-abu-gelap;
	font-family: $secondary-font;
}

#info-row-content {
	font-family: $secondary-font;
	font-weight: bold;
	font-size: 16px;
}
