@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#product-detail-label {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: $abu-abu-gelap;
	font-family: $primary-font;
}

.info-row-content {
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
}
