<div>
	<div id="product-detail-label">{{productDetail?.product_name}}</div>
	<wsv wide="27px"></wsv>
	<discount-harga-coret [discount_percent]="productDetail?.discount_percentage"
		[original_price]="productDetail?.original_price"
		[sell_price]="productDetail?.sell_price"></discount-harga-coret>

	<wsv wide="34px"></wsv>
	<div *ngIf="productDetail?.product_color">
		<info-row title="warna">
			<warna></warna>
		</info-row>
		<wsv wide="15px"></wsv>
	</div>
	<div *ngIf="productDetail?.product_size">
		<info-row title="Berat">
			<span class="info-row-content">{{productDetail?.product_size}}</span>
		</info-row>
		<wsv wide="15px"></wsv>
	</div>

	<info-row title="Stok"
		*ngIf="productDetail?.stock">&nbsp;&nbsp;
		<span class="info-row-content">{{productDetail?.stock}}</span>
	</info-row>
	<wsv wide="27px"></wsv>
	<qty-ctrl notif="true"
		allowChanges="true"
		[qtyObject]="qtyObject"
		(qtyChangeEvent)="test($event)"></qty-ctrl>
</div>
