@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#product-detail-label {
	color: $abu-abu-gelap;
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
}

.info-row-content {
	font-family: $primary-font;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
}
