<div id="mbel">
	<div id="loc-header">Alamat
	</div>
	<div id="loc-hr-top">
	</div>
	<div id="loc-body">
		<div id="loc-body-address">
			Graha Boulevard, Jl. Boulevard Raya, RW.1, Kelapa Gading Timur, Kec. Kelapa Gading, Kota Jkt Utara, DKI
			Jakarta 14240
		</div>
		<div id="loc-body-manuver">
			<div id="loc-body-button">
				<button class="button-location">Utama</button>
			</div>
			<div id="loc-body-checkbox"><input type="checkbox"
					CHECKED></div>
		</div>
	</div>
	<div id="loc-hr-bottom">
	</div>
	<div id="loc-bottom">
		+ Tambah Alamat Baru
	</div>
</div>
