<div class="container d-flex">
	<div id="left-container">

		<div id="top-fixed"
			class="bg-10">
			<div id="keranjang-label">TRANSAKSI</div>
			<wsv wide="20px"></wsv>
			<div class="d-flex justify-content-left">
				<list-status-section (onStatusSelected)="handleSelectStatus($event)"></list-status-section>
			</div>
			<wsv wide="19px"></wsv>

			<filter-buttons-section (onParamUpdate)="getTrxList()"
				[param]="param"></filter-buttons-section>

			<wsv wide="20px"></wsv>
			<div id="horizontal-line"></div>
			<wsv wide="10px"></wsv>
			<wsv wide="20px"></wsv>
		</div>
	</div>
</div>
<wsv wide="200px"></wsv>

<div class="container d-flex">
	<div id="left-container">
		<item-transaction [items]="items"></item-transaction>
		<wsv wide="60px"></wsv>
	</div>

</div>
