@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';
.rectangle-87 {
	width: 685px;
	background: #eeeeee;
	border-radius: 10px;
}

.rectangle-86 {
	background: #ffffff;
	border-radius: 10px;
}
