<div class="rectangle-87">
	<div class="d-flex header-wrapper align-items-center">
		<check-box-two [initialValue]="item.selected"
			allowChanges="true"
			(onClickEvent)="handleClickCheckbox($event)"
			class="check-box-container"></check-box-two>
		<div class="d-flex flex-grow-1 justify-content-between">
			<div>
				<div class="label-gray">Ongkos Kirim</div>
				<div class="label-gray-2">{{item.shipping_cost|rupiah}}</div>
			</div>
			<div>
				<div class="label-gray">Harga Belanja</div>
				<div class="label-gray-2">{{item.grand_total|rupiah}}</div>
			</div>
		</div>

	</div>
	<div class="rectangle-86 w-100 d-flex">
		<img src='{{item.product_image}}'
			class="item-img">
		<wsh wide="15px"></wsh>
		<div id="item-desc-wrapper">
			<item-desc [item]="item"></item-desc>
			<wsv wide="6px"></wsv>
			<qty-ctrl-two [initQty]="item.quantity"
				(onUpdateQty)="handleQtyUpdate($event)"></qty-ctrl-two>
		</div>
		<wsh wide="90px"></wsh>
	</div>
	{{item|json}}

</div>
