@import '~ng-zorro-antd/date-picker/style/index.min.css';

nz-date-picker,
nz-month-picker,
nz-year-picker,
nz-range-picker,
nz-week-picker {
	margin: 0 8px 12px 0;
}
.ant-picker-range {
	border-radius: 50px;
	width: 100%;
	border: 0.5px solid #a9a9a9;
}

.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
	color: #fff;
	background: orangered;
}
