<div ngbDropdown
	#myDrop="ngbDropdown"
	class="d-inline-block"
	(mouseover)="myDrop.open();">
	<div class="d-flex justify-content-center align-items-center"
		ngbDropdownToggle>
		<img id="headers-menubar"
			src="../../../../assets/image/icons/categoriesiconmenu.png">
		<div id="headers-kategori">Kategori</div>
	</div>
	<div ngbDropdownMenu
		id="transparent-box">
		<div class="white-space-top-10px"></div>
		<div class="arrow-up"></div>
		<div class="d-flex container-round"
			id="menubar-box">
			<div id="catalog-kategori-container-1">
				<div id="label-kategori">Kategori</div>
				<div *ngFor="let category of categories">
					<div [ngClass]="(clickedCategory==category)?'label-kategori-name-red':'label-kategori-name'"
						(mouseover)='clickedCategory = category'>
						{{category.name}}</div>
				</div>
			</div>
			<div id="vertical-line"></div>
			<div id="catalog-kategori-container-2">
				<div class="card-deck">
					<div *ngFor="let subcategory of clickedCategory?.subcategory">
						<div class="list-sub-kategori"
							[routerLink]="'/pilih-produk'"
							(click)="$event.stopPropagation(); myDrop.close()">{{subcategory.name}}</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>
