@import '../../../../styles/variables/colors';

#headers-kategori {
	padding-left: 10px;
	font-size: 18px;
}

#headers-menubar {
	height: 28px 28px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 22px solid transparent;
	border-right: 22px solid transparent;

	border-bottom: 22px solid $putih-tok;
}

#transparent-box {
	border-width: 0px;
	background-color: transparent;
}

.container-round {
	position: absolute;
	width: 1210px;
	height: 517.09px;
	left: -200px;
	background: $putih-tok;
	border-radius: 9.45312px;
}

.white-space-top-10px {
	height: 10px;
}

#categori-column {
	width: 100px;
}
