<div ngbDropdown
	class="d-inline-block">
	<div class="d-flex justify-content-center align-items-center"
		ngbDropdownToggle>
		<img id="headers-menubar"
			src="../../../../assets/image/icons/categoriesiconmenu.png">
		<div id="headers-kategori">Kategori</div>
	</div>
	<div ngbDropdownMenu
		id="transparent-box">
		<div class="white-space-top-10px"></div>
		<div class="arrow-up"></div>
		<div class="d-flex justify-content-start container-round">
			<div id="categori-column">Kategori</div>
			<div>Orci vulputate</div>
		</div>

	</div>
</div>
