@import '../../../../styles/variables/colors';

#dropdown-wrapper {
	z-index: 9999;
}

#headers-kategori {
	padding-left: 10px;
	font-size: 18px;
	border: 0px;
}

#headers-menubar {
	height: 28px 28px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 22px solid transparent;
	border-right: 22px solid transparent;

	border-bottom: 22px solid $putih-tok;
}

#transparent-box {
	border-width: 0px;
	background-color: transparent;
}

.container-round {
	position: absolute;
	width: 1120px;
	left: -200px;
	background: $putih-tok;
	border-radius: 9.45312px;
	padding-bottom: 30px;
}

.white-space-top-10px {
	height: 10px;
}

#categori-column {
	width: 100px;
}

#catalog-kategori-container-1 {
	flex: 0 0 215px;
	padding-top: 35px;
	padding-left: 45px;
}

#catalog-kategori-container-2 {
	padding-left: 66px;
	padding-top: 79px;
	width: 905px;
}

#categlog-subkategory-wrapper {
	width: 400px;
}
#label-kategori {
	font-size: 18px;
	font-weight: bold;
	color: $abu-abu-gelap;
}

.label-kategori-name {
	font-size: 14px;
	color: $abu-abu-gelap-muda;
	margin-top: 26px;
	cursor: pointer;
}

.label-kategori-name-red {
	font-size: 14px;
	color: $color-primary;
	font-weight: bold;
	margin-top: 26px;
	cursor: pointer;
}

#vertical-line {
	width: 1px;
	margin-top: 30px;
	margin-bottom: 20px;
	background: $abu-abu-charcoal;
}

.label-subkategori-name {
	font-size: 12px;
	color: $abu-abu-gelap-muda;
	margin-top: 20px;
	cursor: pointer;
}

.list-sub-kategori {
	width: 193px;
	font-size: 12px;
	margin-top: 20px;
}
