<div *ngIf="modalData.modePopUp=='0'; then pindah else sukses"></div>

<ng-template #pindah>
	<div id="popup-wording">
		<p>Yakin ingin keluar dari Halaman ini?</p>
	</div>
	<div id="popup-option">
		<div id="popup-option-button">
			<div align="center">

				<div class="divbutton-left"
					(click)="ok()">Keluar Halaman</div>
			</div>
		</div>
		<div id="popup-option-button">
			<div align="center">
				<div class="divbutton-right"
					(click)="cancel()">Request Approval</div>
			</div>
		</div>
	</div>
</ng-template>
