<div id="item-container"
    *ngFor="let item of items">
    <div id="item-header"
        class="d-flex align-items-center">
        <wsh wide="20px"></wsh>
        <div class="col-1-trx-item">
            <div class="title-1">
                {{item.requester_full_name}}
            </div>
            <div class="title-2">
                {{item.order_code}}
            </div>
        </div>

        <wsh wide="30px"></wsh>
        <div class="col-2-trx-item">
            <div class="title-1">
                {{item.delivery_address_json.address_name}}
            </div>
            <div class="title-2">
                {{item.approved_at |tanggal}}
            </div>
        </div>
        <div class="col-3-trx-item flex-grow-1">
            <div class="title-3">
                Harga Belanja
            </div>
            <div class="title-2">
                {{item.purchase_amount|rupiah}}
            </div>
        </div>
        <div class="col-4-trx-item">
            <red-border-white-bg-button label="Lihat Detail"
                (click)="viewDetail(item)"></red-border-white-bg-button>
        </div>
        <wsh wide="20px"></wsh>
    </div>
    <div class="d-flex"
        id="item-content">

        <wsh wide="20px"></wsh>
        <div class="col-1-trx-item">
            <img id="image-item-trx"
                [src]="item.product_image"
                (error)="onImgError($event)">
        </div>
        <wsh wide="30px"></wsh>
        <div class="col-2-trx-item">
            <div class="title-2"
                (click)="itemClicked(item)"
                style="cursor: pointer;">
                {{item.product_name}}
            </div>
            <div *ngIf="item.initial_quantity != item.quantity"
                class="title-3 coret">{{item.initial_quantity}} Barang</div>
            <div class="title-3">{{item.quantity}} Barang</div>
        </div>
        <div class="col-3-trx-item flex-grow-1">
            <div class="title-4">
                Status
            </div>
            <div class="title-2">
                <badge [label]='item'
                    [show]='item.show'
                    [statusprocess]='item.status'></badge>
            </div>
        </div>
        <div class="d-flex col-4-trx-item align-items-end">


            <ng-template *ngIf="item.status=='CLOSED'; then first
			else second"></ng-template>

            <ng-template #first>
                <red-button label="Beli Lagi"
                    font="14px"
                    paddingtop="10px"
                    paddingbottom="10px"
                    paddingleft="0px"
                    paddingright="0px"
                    float="right"
                    (click)="belilagi(dangerTpl,item)"></red-button>
            </ng-template>

            <ng-template #second>
                <ng-template *ngIf="item.status=='REJECTED'; then third else fourth"></ng-template>
                <ng-template #third>
                    <red-button label="Ajukan Lagi"
                        font="14px"
                        paddingtop="10px"
                        paddingbottom="10px"
                        paddingleft="0px"
                        paddingright="0px"
                        float="right"
                        (click)="belilagi(dangerTpl,item)"></red-button>
                </ng-template>

                <ng-template #fourth>
                    <ng-template
                        *ngIf="item.status=='RECEIVED' || item.status=='PROCESS' || item.status=='ORDERED' || item.status=='DELIVER'; then fifth else sixth">
                    </ng-template>
                    <ng-template #fifth>
                        <ng-template *ngIf="item.status=='RECEIVED'; then enab else disab">
                        </ng-template>
                        <ng-template #disab>
                            <div id="button-wrapper"
                                class="d-flex align-items-center justify-content-center">
                                Selesai
                            </div>

                        </ng-template>

                        <ng-template #enab>
                            <red-button label="Selesai"
                                font="14px"
                                paddingtop="10px"
                                paddingbottom="10px"
                                paddingleft="0px"
                                paddingright="0px"
                                float="right"
                                (click)="selesai(item)"></red-button>
                        </ng-template>

                    </ng-template>

                    <ng-template #sixth>
                        <red-button label="Cari Sejenis"
                            font="14px"
                            paddingtop="10px"
                            paddingbottom="10px"
                            paddingleft="0px"
                            paddingright="0px"
                            (click)="carisejenis(item)"></red-button>

                    </ng-template>

                </ng-template>

            </ng-template>

        </div>
        <wsh wide="20px">{{item.qty}}</wsh>
    </div>
</div>


<ng-template #dangerTpl>
    <div id="wrapper-notification"
        class="d-flex container justify-content-end">
        <div>
            <wsv wide="9px"></wsv>
            <div id="wrapper-inner-notification">
                <div class="d-flex justify-content-between align-self-center">
                    <div id="keranjang-label">Keranjang</div>
                    <div id="lihat-keranjang-label"
                        class="d-flex justify-content-center align-items-center"
                        (click)="pergiKeKeranjang()">Lihat Keranjang</div>
                </div>
                <wsv wide="13px"></wsv>
                <div id="rounded-inner-notif"
                    class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img [src]="selectedItem?.product_image"
                            id="notif-img"
                            (error)="onImgError($event)">
                        <wsh wide="10px"></wsh>
                        <div>
                            <div id="item-name">{{truncateChar(selectedItem?.product_name)}}</div>
                            <div>{{selectedItem.qty}} Barang</div>
                        </div>
                    </div>
                    <div id="item-price">{{selectedItem?.sell_price * selectedItem?.quantity|rupiah}}</div>
                </div>

            </div>

        </div>

    </div>


</ng-template>
