<div id="item-container">
	<div id="item-header"
		class="d-flex align-items-center">
		<wsh wide="20px"></wsh>
		<div class="col-1-trx-item">
			<div class="title-1">
				Purchaser A
			</div>
			<div class="title-2">
				200803001
			</div>
		</div>

		<wsh wide="30px"></wsh>
		<div class="col-2-trx-item">
			<div class="title-1">
				Kantor Pusat
			</div>
			<div class="title-2">
				18 Juli 2020
			</div>
		</div>
		<div class="col-3-trx-item flex-grow-1">
			<div class="title-3">
				Harga Belanja
			</div>
			<div class="title-2">
				Rp 82,252,000
			</div>
		</div>
		<div class="col-4-trx-item">
			<red-border-white-bg-button label="Lihat Detail"></red-border-white-bg-button>
		</div>
		<wsh wide="20px"></wsh>
	</div>
	<div class="d-flex"
		id="item-content">

		<wsh wide="20px"></wsh>
		<div class="col-1-trx-item">
			<img id="image-item-trx"
				src="../../../../../assets/image/icons/macbook_a.png">
		</div>
		<wsh wide="30px"></wsh>
		<div class="col-2-trx-item">
			<div class="title-2">
				Macbook Pro 2020 13" Inch 2.0 GHZ i5 10th Gen 512GB 1TB 16GB TouchBar - 512 GB, Space Grey
			</div>
			<div class="title-3">3 Barang</div>
		</div>
		<div class="col-3-trx-item flex-grow-1">
			<div class="title-4">
				Status
			</div>
			<div class="title-2">
				<badge></badge>
			</div>
		</div>
		<div class="d-flex col-4-trx-item align-items-end">
			<red-bg-button label="Cari Sejenis"
				(click)="selesai()"></red-bg-button>
		</div>
		<wsh wide="20px"></wsh>
	</div>
</div>
