@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

.warn-notif{
	position: relative;
	float:left;
	z-index: 0;
	width:11px;
	height:11px;
	border-radius: 50%;
	background-color: transparent;
	margin-top:-10px;
}

.show{
	background-color: $kuning-emas;
}