@import '../../../../styles/variables/colors';

.white-rounded-rectangle {
	background: $putih-gelap-dikit;
	border-radius: 4px;
	height: 290px;
	width: 172px;
	margin: 0px;
}

.inner-padding {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 19px;
	font-family:Raleway;
}

.card-img-top {
	width: 147px;
	height: 147px;
	overflow: hidden;
}

.catalog-card-label {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	margin-top: 24.4px;
	color: $abu-abu-gelap;
}

.catalog-card-price {
	font-style: normal;
	font-family: OpenSans;
	font-size: 16px;
	margin-top: 4.6px;
	line-height: 22px;
	font-weight: 600;
	color: $merah-terang;
}

.catalog-card-button {
	position: absolute;
	width: 100%;
	bottom: 0px;
}
