@import '../../../../styles/variables/colors';
@import '../../../../styles/variables/fonts';

.white-rounded-rectangle {
	background: $putih-gelap-dikit;
	border-radius: 4px;
	// height: 290px;
	width: 172px;
	margin: 0px;
	padding-bottom: 10px;
	background: #ffffff;
	mix-blend-mode: normal;
	border-radius: 4px;
	box-shadow: $box-shadow-card;
	cursor: pointer;
}

.inner-padding {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 19px;
	font-family: $secondary-font;
}

.card-img-top {
	width: 147px;
	height: 147px;
	overflow: hidden;
}

.catalog-card-label {
	margin-top: 24.4px;
	color: $abu-abu-gelap;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   height: 40px;
}

.catalog-card-price {
	font-family: $primary-font;
	margin-top: 4.6px;
	color: $color-primary;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
}

.catalog-card-button {
	position: absolute;
	width: 100%;
	bottom: 0px;
}
