<div class="card white-rounded-rectangle"
	(click)="backToHome()">
	<div class="inner-padding">
		<img [src]="item.thumbnail"
			class="card-img-top"
			(error)="onImgError($event)">
		<div class="catalog-card-label">
			{{item.slice_name}}
		</div>
		<div class="catalog-card-disc">
			<ng-template *ngIf="item.discount_percentage>0;then showdiscount"></ng-template>
			<ng-template #showdiscount>
				<div class="font-numdisc">
					{{item.discount_percentage | number}}%
				</div>
				<div class="font-disc">
					{{item.original_price | rupiah}}
				</div>
			</ng-template>


		</div>
		<div class="catalog-card-price">{{item.sell_price|rupiah}}</div>
	</div>
	<catalog-card-button *ngIf="false"
		class="catalog-card-button"></catalog-card-button>
</div>
