@import '../../../../styles/variables/colors';
@import '../../../../styles/variables/fonts';

.white-rounded-rectangle {
	background: $putih-gelap-dikit;
	border-radius: 4px;
	min-height: 290px;
	width: 173.49px;
	margin: 0px;
	height: 290px;
	padding-bottom: 10px;
	background: #ffffff;
	mix-blend-mode: normal;
	border-radius: 10px;
	box-shadow: $box-shadow-card;
	cursor: pointer;
	// border: solid greenyellow 1px;
}

.inner-padding {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 19px;
	font-family: $secondary-font;
}

.card-img-top {
	width: 158px;
	height: 158px;
	overflow: hidden;
}

.catalog-card-label {
	margin-top: 24.4px;
	color: $abu-abu-gelap;
	font-style: normal;
	font-weight: bold;
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	// min-height: 45px;
}
.catalog-card-disc {
	color: $abu-abu-gelap;
	font-style: normal;
	font-weight: bold;
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	position: absolute;
	bottom: 26px;
	width: 100%;
	// min-height: 15px;
}

.font-disc {
	width: 80%;
	position: relative;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	display: inline-block;
	align-items: center;
	text-decoration-line: line-through;
	font-feature-settings: 'kern' off;
	color: $abu-abu-sesuatu;
	padding-left: 10px;
	width: 80%;
}

.font-numdisc {
	background: rgba(241, 38, 39, 0.2);
	border-radius: 4px;
	width: 20%;
	text-align: center;
	position: relative;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	line-height: 16px;
	display: inline-block;
	padding-left: 5px;
	color: $merah-terang;
}

.catalog-card-price {
	font-family: $primary-font;
	margin-top: 4.6px;
	color: $color-primary;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	position: absolute;
	bottom: 7px;
	width: 100%;
}

.catalog-card-button {
	position: absolute;
	width: 100%;
	bottom: 0px;
}
