@import '../../../../styles/variables/colors';
@import '../../../../styles/variables/fonts';

#percent-label {
	background: rgba(241, 38, 39, 0.2);
	border-radius: 4px;

	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	font-feature-settings: 'kern' off;

	color: $color-primary;

	padding: 3.3px;
}

#harga-coret {
	font-family: $secondary-font;
	font-size: 12px;

	text-decoration-line: line-through;
	font-feature-settings: 'kern' off;

	color: $abu-abu-sesuatu;
}

#harga-sesudah-diskon {
	font-family: $secondary-font;
	font-weight: bolder;
	font-size: 16px;

	color: $abu-abu-gelap;
}
