<div #myDrop="ngbDropdown"
	ngbDropdown>
	<div ngbDropdownToggle
		id="filter-dropdown-wrapper"
		class="d-flex">
		<div class="flex-grow-1 d-flex align-items-center">
			<div id="filter-dropdown-label">{{selected}}</div>
		</div>
		<div id="arrow-down-gray-wrapper"
			class="d-flex justify-content-center align-items-center">
			<img id="arrow-down-gray"
				src="../../../../../assets/image/icons/arrow_down_gray.png">
		</div>
	</div>
	<div ngbDropdownMenu>
		<div id="padding-right-for-scroll">
			<wsv wide="15px">
			</wsv>
			<div class="scrollbar"
				id="style-2">
				<div>
					<div *ngFor="let purchaser of purchasers">
						<div id="item-row"
							class="d-flex justify-content-between"
							[ngClass]="selected == purchaser ? 'selected' : '' "
							(click)="selected=purchaser;myDrop.close()">
							<div class="item-dropdown-class">
								{{purchaser}}
							</div>

						</div>
						<wsv wide="15px"></wsv>
					</div>
				</div>
			</div>

			<wsv wide="15px"></wsv>
		</div>
	</div>
</div>
