<div (click)="onClick()">
	<div *ngIf="checked; else elseBlock">
		<div id="left-box"
			[className]="buttonAvail ? 'btn-shw':'btn-hide'">
			<div class="custom-checkbox-checked tautan">
				<img class="custom-checkbox-mark"
					src="../../../../assets/image/icons/centang_putih.png">
			</div>
		</div>
		<div id="right-box">
			<div class="data-box">{{detPurchaser}}</div>
			<div class="data-box big">{{detDate | tanggal: 'tgl'}}</div>
		</div>
	</div>
	<ng-template #elseBlock>
		<div class="custom-checkbox"></div>
		<div id="right-box">
			<div class="data-box">{{detPurchaser}}</div>
			<div class="data-box big">{{detDate | tanggal: 'tgl'}}</div>
		</div>
	</ng-template>
</div>
