<div class="container">
	<div id="div-top-address">
		<wsv wide="53px"></wsv>
		<div id="keranjang-label">KERANJANG</div>
		<!--<cart-empty></cart-empty>-->
		<wsv wide="25px"></wsv>
		<address-section wide="596px"
			borderRadius='20px'
			margin="0px">
		</address-section>
		<wsv wide="30px"></wsv>
	</div>

	<div class="d-flex justify-content-between"
		id="scrollable-div">
		<item-list></item-list>
		<div>

			<div id="div-cart-price">
				<box-cart-price buttonLabel="Selanjutnya"></box-cart-price>
				<wsv wide="280px"></wsv>
			</div>

		</div>

	</div>
