<div class="container d-flex">
	<div id="left-container">
		<div id="top-fixed"
			class="bg-10">
			<div id="keranjang-label">KERANJANG</div>
			<wsv wide="10px"></wsv>
			<address-section wide="596px"
				borderRadius='20px'
				margin="0px">
			</address-section>
			<wsv wide="30px"></wsv>
		</div>
		<wsv wide="200px"></wsv>
		<div id="poi">
			<div id="asd">
				<item-list></item-list>
			</div>
		</div>

	</div>

	<div id="right-container">
		<wsv wide="200px"></wsv>
		<div id="right-fixed">
			<div class="d-flex">
				<wsh wide="57px"></wsh>
				<box-cart-price buttonLabel="Selanjutnya"></box-cart-price>
			</div>

		</div>
	</div>


</div>
