@import '../../../../styles/variables/colors';

#footer_feature_logo {
	height: 55px;
	width: 150px;
}

.white-space-12px {
	height: 12px;
}

.footer-feature-label {
	font-size: 16px;
	color: $abu-abu-aspal;
}
