<div class="d-flex">
	<div class="label-1">
		Nama Depan
	</div>
	<div>
		<input type="text"
			class="textbox-search">
	</div>
</div>

<wsv wide="24px"></wsv>
<horizontal-line></horizontal-line>
<wsv wide="24px"></wsv>

<div class="d-flex">
	<div class="label-1">
		Nama Belakang
	</div>
	<div>
		<input type="text"
			class="textbox-search">
	</div>
</div>
<wsv wide="24px"></wsv>
<horizontal-line></horizontal-line>
<wsv wide="24px"></wsv>

<div class="d-flex">
	<div class="label-1">
		Email
	</div>
	<div>
		<input type="text"
			class="textbox-search">
	</div>
</div>
<wsv wide="24px"></wsv>
<horizontal-line></horizontal-line>
<wsv wide="24px"></wsv>
<red-bg-button label="Tambah"></red-bg-button>
