<div class="d-flex">
	<div class="label-1">
		Nama Depan
	</div>
	<div>
		<input type="text"
			class="textbox-search"
			placeholder="Nama Depan"
			[(ngModel)]="param.first_name">
	</div>
</div>

<wsv wide="24px"></wsv>
<horizontal-line></horizontal-line>
<wsv wide="24px"></wsv>

<div class="d-flex">
	<div class="label-1">
		Nama Belakang
	</div>
	<div>
		<input type="text"
			class="textbox-search"
			placeholder="Nama Belakang"
			[(ngModel)]="param.last_name">
	</div>
</div>
<wsv wide="24px"></wsv>
<horizontal-line></horizontal-line>
<wsv wide="24px"></wsv>

<div class="d-flex">
	<div class="label-1">
		Email
	</div>
	<div>
		<input type="text"
			class="textbox-search"
			placeholder="Email"
			[(ngModel)]="param.email">
	</div>
</div>

<wsv wide="24px"></wsv>
<horizontal-line></horizontal-line>
<wsv wide="24px"></wsv>


<div class="d-flex align-items-end flex-column bd-highlight mb-3">
	<div class="p-2 bd-highlight"></div>
	<div class="p-2 bd-highlight"></div>
	<div class="mt-auto p-2 bd-highlight">
		<red-button label="Tambah"
			font="14px"
			paddingtop="10px"
			paddingbottom="10px"
			paddingleft="0px"
			paddingright="0px"
			float="right"
			(click)="submit()"></red-button>
	</div>
</div>
