<div id="mbel">
	<div id="loc-header">Alamat
	</div>
	<div *ngFor="let item of addresses; let i = index">
		<div id="loc-hr-top">
		</div>
		<div id="loc-body">
			<div id="body_address_1">{{item.address_name}}</div>

			<div id="loc-body-address">
				<div id="body_address_2">{{item.address_detail}} {{item.subdistrict}} {{item.district}}
					{{item.province}} {{item.zipcode}}</div>
			</div>
			<div id="loc-body-manuver">
				<ng-template *ngIf="item.is_head_office==1;then checkedaddress else uncheckedaddress"></ng-template>
				<ng-template #checkedaddress>
					<div id="loc-body-button">
						<span class="button-location">Utama</span>
					</div>
					<div id="loc-body-checkbox">

						<label class="radiyo">
							<input type="radio"
								checked="checked"
								name="radio">
							<span class="checkmark"></span>
						</label>

					</div>
				</ng-template>
				<ng-template #uncheckedaddress>
					<div id="loc-body-button">&nbsp;
					</div>

					<div id="loc-body-checkbox">

						<label class="radiyo">
							<input type="radio"
								name="radio">
							<span class="checkmark"></span>
						</label>

					</div>
				</ng-template>



			</div>
		</div>
	</div>



	<div id="loc-hr-top"></div>


	<!-- 
		<div id="loc-hr-bottom">
	</div> -->
	<div id="loc-bottom">
		+ Tambah Alamat Baru
	</div>
</div>
