<div id="mbel">
	<div id="loc-header">Alamat</div>
	<wsv wide="25px"></wsv>
	<div class="horizontal-line"></div>
	<wsv wide="25px"></wsv>
	<div *ngFor="let item of addresses; let i = index">

		<div class="d-flex justify-content-between align-items-center">
			<div style="width: 360px;">
				<div id="body_address_1">{{item.address_name}}</div>
				<div id="body_address_2">{{item.address_detail}} {{item.subdistrict}} {{item.district}}
					{{item.province}} {{item.zipcode}}</div>
			</div>
			<div class="d-flex">

				<rounded-red-button label="Utama"
					paddingtop="5px"
					paddingbottom="5px"
					paddingleft="15px"
					paddingright="15px"></rounded-red-button>

				<wsh wide="58px"></wsh>
				<div class="d-flex">
					<label class="radiyo">
						<input type="radio"
							[checked]="checkedItem(i)"
							name="radio"
							(click)="setDefaultAddress(item)">
						<span class="checkmark"></span>
					</label>
					<div>A</div>
				</div>
			</div>

		</div>

		<wsv wide="43px"></wsv>
	</div>
	<div class="d-flex justify-content-center align-items-center"
		style="cursor: pointer;">
		<img src="../../../../assets/image/icons/plus-red.png"
			class="plus-red">
		<wsh wide="15px"></wsh>
		<div id="loc-bottom">Tambah Alamat Baru</div>
	</div>
	<wsv wide="24px"></wsv>
</div>
