<div class="d-flex justify-content-between align-items-center control-wrapper">
	<a id="remove_cart_logo_wrapper"
		class="d-flex align-items-center"
		(click)="removeFromCart()">
		<object id="remove_cart_logo"
			type="image/svg+xml"
			data="../../../../../assets/image/icons/remove-logo.svg"
			[className]="qtyObject.qty==1?'remove_cart_logo_disable':''"
			class="pointereventnone">
			<style>
				svg {
					cursor: pointer;
					pointer-events: none;
				}

			</style>
		</object>
	</a>
	<div>
		<input #qty_input
			id="qty_input"
			class="p-2"
			type="text"
			[(ngModel)]="qtyObject.qtyDisplay"
			maxlength="6"
			(input)="formatNumbersss()"
			[attr.disabled]="allowChanges? null : ''"
			(keypress)="preventAlphabet($event)"
			(change)="qtyChange()"
			autocomplete="off">
		<div id="horizontal-underline">
		</div>
	</div>

	<div id="remove_cart_logo_wrapper"
		class="d-flex align-items-center"
		(click)="addToCart()">
		<img id="add_to_cart_logo"
			src="../../../../../assets/image/icons/add_to_cart_ic.png"></div>
</div>
