@import '../../../../styles/variables/colors';
@import '../../../../styles/variables/fonts';

#remove_cart_logo_wrapper {
	width: 22px;
	height: 16px;
	cursor: pointer;
}

#remove_cart_logo {
	width: 16px;
	height: 4px;
}

#add_to_cart_logo {
	width: 21.6px;
	height: 21.6px;
}

.control-wrapper {
	width: 160px !important;
}

#keranjang-label {
	font-family: $secondary-font;
	font-weight: bolder;
	font-size: 16px;
}

#lihat-keranjang-label {
	font-family: $secondary-font;
	font-weight: bold;
	font-size: 16px;
	width: 130px;
	height: 32px;
	background: $color-primary;
	color: #dedede;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	padding-top: 5px;
}

.notif-container {
	width: 350px;
}

#notif-inner-container {
	margin-top: 13px;
	padding-left: 4px;
	padding-top: 7px;
	padding-bottom: 10px;
	padding-right: 12px;
	width: 350px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background-color: #ffffff;
}

#notif-img {
	width: 56px;
	height: 56px;
	overflow: hidden;
}

#qty_input {
	width: 120px;
	text-align: center;
	background: transparent;
	font-size: 20px;
}
