<div>
	<div class="d-flex justify-content-between pas">
		<div id="catalog-section-label">{{products[0].category}}</div>
		<div id="catalog-section-lihat-semua"
			(click)="lihatSemua(products[0].category_id,products[0].subcategory_id)">Lihat Semua</div>
	</div>
	<div class="white-space"></div>
	<div class="d-flex pas-catalog">
		<!-- {{products|json}} -->
		<div *ngFor="let product of products;  let i=index">
			<div *ngIf="i<6">
				<div class="d-flex">
					<div class="white-space-18px-horizontal"></div>
					<catalog-card [item]="product"></catalog-card>
				</div>
			</div>
		</div>
	</div>
</div>
