@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#catalog-section-label {
	color: $abu-abu-gelap;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;
}

#catalog-section-lihat-semua {
	color: $color-primary;
	font-family: $secondary-font;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	padding-right: 0px;
	text-align: right;
	float: right;
	cursor: pointer;
}
