@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#catalog-section-label {
	color: $abu-abu-gelap;
	font-family: $secondary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
}

#catalog-section-lihat-semua {
	color: $color-primary;
	font-family: $secondary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: right;
}

.white-space-18px-horizontal {
	width: 18px;
}

.white-space {
	height: 13px;
}
