@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#catalog-section-label {
	color: $abu-abu-gelap;
	font-family: $secondary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	padding-left: 20px;
}

#catalog-section-lihat-semua {
	color: $color-primary;
	font-family: $secondary-font;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	padding-right: 20px;
	cursor: pointer;
}

.pas{
	width: 95%;
	margin-left:10px;
}

.white-space-18px-horizontal {
	width: 18px;
}

.white-space {
	height: 13px;
}
