<div id="label-status">Status</div>
<div class="d-flex"
	id="icon-status">
	<div class="d-sm-inline-flex"
		[ngClass]="(statusprocess == 'Diproses' || statusprocess == 'Dikirim' || statusprocess == 'Sampai' || statusprocess == 'Selesai')? 'processed' : 'processed2'">
	</div>
	<div class="d-sm-inline-flex"
		[ngClass]="(statusprocess == 'Dikirim' || statusprocess == 'Sampai' || statusprocess == 'Selesai')? 'hrred' : 'hrgrey'">
	</div>
	<div class="d-sm-inline-flex"
		[ngClass]="(statusprocess == 'Dikirim' || statusprocess == 'Sampai' || statusprocess == 'Selesai')? 'delivery' : 'delivery2'">
	</div>
	<div class="d-sm-inline-flex"
		[ngClass]="(statusprocess == 'Sampai' || statusprocess == 'Selesai')?  'hrred' : 'hrgrey'">
	</div>
	<div class="d-sm-inline-flex"
		[ngClass]="(statusprocess == 'Sampai' || statusprocess == 'Selesai')? 'sampai' : 'sampai2'">
	</div>
	<div class="d-sm-inline-flex"
		[ngClass]="(statusprocess == 'Selesai')?  'hrred' : 'hrgrey'">
	</div>
	<div class="d-sm-inline-flex"
		[ngClass]="(statusprocess == 'Selesai')? 'confirmed' : 'confirmed2'">
	</div>
</div>

<div class="d-flex"
	id="date-status">
	<div class="d-sm-inline-flex"
		id="detail-tgl">
		18 Juli 2020
	</div>


	<div class="d-sm-inline-flex"
		id="detail-tgl">
		26 Juli 2020
	</div>


	<div class="d-sm-inline-flex"
		id="detail-tgl">
		15 Agustus 2020
	</div>


	<div class="d-sm-inline-flex"
		id="detail-tgl">
		16 Agustus 2020
	</div>

	<wsv wide="10px"></wsv>
</div>



<div id="eta-status">
	<div>
		<div class="d-flex justify-content-start"
			id="eta-left">Perkiraan Waktu Sampai:</div>
		<div class="d-flex justify-content-start"
			id="eta-right">Alasan:</div>
	</div>
	<div>
		<div class="d-flex justify-content-start black"
			id="eta-left">20-21 Juli 2020</div>
		<div class="d-flex justify-content-start red"
			id="eta-right">2 Barang diproses, 1 barang Out of Stock</div>
	</div>
</div>


<wsv wide="10px"></wsv>


<div class="d-flex"
	id="remark-status">
	<div class="d-flex flex-column bd-highlight mb-3 dekat">
		<div class="p-2 bd-highlight grey">Catatan Pengiriman:</div>
		<div class="p-2 bd-highlight black dekatbanget">Dititipkan di resepsionis saja. Terima kasih :)</div>
	</div>
</div>
