@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#icon-status{
	width:100%;position: relative;float: left;height:40px;padding-left:15px;
}

#label-status{
	width:100%;position: relative;float: left;height:20px;padding-left:15px;
	font-family: $primary-font;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	font-feature-settings: 'kern' off;
	color: $abu-abu-sesuatu;
}

#date-status{
	width:100%;position: relative;float: left;height:20px;padding-left:15px;
	font-family: $primary-font;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 14px;
	font-feature-settings: 'kern' off;
	color: #606060;
}


#eta-status{
	width:100%;position: relative;float: left;height:50px;padding-left:15px;
	margin-top:10px;
	padding-top:5px;
	font-family: $primary-font;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	font-feature-settings: 'kern' off;
	color: $abu-abu-sesuatu;
	border-top: 0.5px solid #E2E2E2;
}


#remark-status{
	width:100%;position: relative;float: left;height:80px;padding-left:10px;
	font-family: $primary-font;
	margin-top:10px;
	padding-top:5px;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	font-feature-settings: 'kern' off;
	color: $abu-abu-sesuatu;
	border-top: 0.5px solid #E2E2E2;
}


.noshowing{
	display:none;
}
.noshowicon{
	display:none;
}
.label-icon{
	width:100%;
	position: relative;
	float: left;
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	font-feature-settings: 'kern' off;
	color: $color-primary;
	padding-left:10px;
}

.showing{
	text-decoration: none;
}
.showicon{
	text-decoration: none;
}


.showred{
	background-color: #DB0A2A;
}

.showgrey{
	border: 0.5px solid #A9A9A9;
}

#icon-confirmed{
	width:24px;margin-top:-8px;
}

#icon-delivery{
	margin-left:-3px;
}



#icon-delivered{
	// -webkit-filter: drop-shadow(1px 1px 0 #EFEFEF) drop-shadow(-1px -1px 0 #EFEFEF);
	margin-top:0px;
}

#icon-processed{
	// -webkit-filter: drop-shadow(1px 1px 0 #EFEFEF) drop-shadow(-1px -1px 0 #EFEFEF);
	margin-top:0px;
}

#icon-delivery{
	// -webkit-filter: drop-shadow(1px 1px 0 #EFEFEF) drop-shadow(-1px -1px 0 #EFEFEF);
	margin-top:0px;
}

#icon-confirmed{
	margin-top:0px;
	// -webkit-filter: drop-shadow(1px 1px 0 #EFEFEF) drop-shadow(-1px -1px 0 #EFEFEF);
}







.processed{
	background-image: url("../../../../../assets/image/icons/diproses-red.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 109px;
	height: 35px; 
	
	border:solid orangered 0px;
}

.processed2{
	background-image: url("../../../../../assets/image/icons/diproses-red.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 109px;
	border: solid red 0px;
	height: 35px; 
	
}

.delivery{
	background-image: url("../../../../../assets/image/icons/dikirim-red.svg");
	background-repeat: no-repeat;
	background-position: left;
	width: 99px;
	border: solid red 0px;
	height: 35px; 
	
}
.delivery2{
	background-image: url("../../../../../assets/image/icons/dikirim-grey.svg");
	background-repeat: no-repeat;
	background-position: left;
	width: 99px;
	border: solid red 0px;
	height: 35px; 
	
}

.sampai{
	background-image: url("../../../../../assets/image/icons/sampai-red.svg");
	background-repeat: no-repeat;
	background-position: left;
	width: 101px;
	border: solid red 0px;
	height: 35px; 
	
}

.sampai2{
	position: relative;
	background-image: url("../../../../../assets/image/icons/sampai-grey.svg");
	background-repeat: no-repeat;
	background-position: left;
	width: 101px;
	border: solid red 0px;
	height: 35px; 
	
}


.confirmed{
	background-image: url("../../../../../assets/image/icons/selesai-red.svg");
	background-repeat: no-repeat;
	background-position: left;
	width: 98px;
	border: solid red 0px;
	height: 35px; 
	
}

.confirmed2{
	background-image: url("../../../../../assets/image/icons/selesai-grey.svg");
	background-repeat: no-repeat;
	background-position: left;
	width: 98px;
	border: solid red 0px;
	height: 35px; 
	
}

.hrred{
	height:1px;
	background-color: $color-primary;
	width: 25px;
	background-position: center;
	margin-top:18px;
	position: relative;
	float:left;
}

.hrgrey{
	height:1px;
	background-color: $abu-abu-sesuatu;
	width: 25px;
	margin-top:18px;
	position: relative;
	float:left;

}

#detail-tgl{
	width: 135px;
	text-align: center;
	padding-left:10px;
}

#eta-left{
	width:50%;position: relative;float: left;text-align:left;
}

#eta-right{
	width:50%;position: relative;float: left;text-align:left;
}

.black{
	font-weight: bold;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: -0.02em;
	font-feature-settings: 'kern' off;
	color: $abu-abu-gelap;
}

.red{
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: -0.02em;
	font-feature-settings: 'kern' off;
	color: $color-primary;
}

.dekat{
	padding-top:0px;margin-top: -5px;
}

.dekatbanget{
	margin-top:-10px;
}