@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#detail-main-image {
	//width: 328px;
	//height: auto;
	width: 349px;
	height: 349px;
	object-fit: scale-down;
	border: 0.5px solid $abu-abu-sesuatu;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 1px 1px 1px 1px;
	cursor: pointer;
}
