/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~bootstrap/dist/css/bootstrap.css';
@import './variables/colors';
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	background-color: $main-background;
}

input {
	border: none;
}
input:focus {
	outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.dropdown-toggle::after {
	display: none;
}

@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
		padding-left: 78px;
		padding-right: 78px;
	}
}

@media (min-width: 600px) {
	.container {
		max-width: 1280px;
	}
}
