/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~bootstrap/dist/css/bootstrap.css';
@import './variables/colors';
@import './variables/fonts';
html,
body {
	height: 100%;
}
body {
	margin: 0;
	background-color: $main-background;
}

body.no-scroll {
	overflow: hidden !important;
}

input {
	border: none;
}
input:focus {
	outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button:focus {
	outline: 0;
}

.dropdown-toggle::after {
	display: none;
}

@media (min-width: 1368px) {
	.container {
		max-width: 1366px;
	}
}

@media (max-width: 1366px) {
	.container {
		max-width: 1100px;
	}
}

.pojok-kanan-atas {
	position: fixed;
	top: 72px !important;
	right: 0;
	margin: 0.5em;
	z-index: 1200;
	max-width: 400px;
	overflow: hidden;
	background-color: #fdfdfd;
	border: 0px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 8px 8px;
}

.bawah-tengah {
	position: absolute;
	width: 366px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	background: rgba(51, 49, 50, 0.75);
	border-radius: 20px;
	position: fixed;
	bottom: 72px !important;
	z-index: 1200;
	color: #ffffff;
}

.kanan-atas {
	top: 80px !important;
	width: 100%;
	max-width: 2000px;
	height: 180px;
	left: 0;
	right: 0;
	background: transparent;
	position: fixed;
	border: none;
	box-shadow: none;
	pointer-events: none;
	backdrop-filter: blur(0px);
}

.cdk-global-scrollblock {
	position: static;
}

ngb-datepicker {
	border: 0px !important;
	border-radius: 0em !important;
	.ngb-dp-header {
		display: none;
	}

	.ngb-dp-month-name {
		display: none;
	}

	.ngb-dp-month-name {
		display: none;
	}

	.ngb-dp-weekdays {
		border-bottom: 0;
		background-color: transparent;
		font-style: normal !important;
	}
	.ngb-dp-weekday {
		color: #000000;
		font-style: normal !important;
		font-family: $primary-font;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		/* identical to box height */
	}
}

.flex-even {
	flex: 1;
}

input:focus,
textarea:focus,
select:focus,
:focus {
	outline: none;
}
