@import '../../../../styles/variables/colors';

.rounded_red_button {
	background: #db0a2a;
	border-radius: 0px 0px 4px 4px;
	height: 34px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.white_space_10px {
	width: 10px;
}

#add_to_cart_logo {
	width: 24.8px;
	height: 21.6px;
}

#tambahkan_button {
	color: $font-color-dark-bg;
	font-weight: bold;
	font-size: 12.738px;
}

#remove_cart_logo {
	width: 16px;
	height: 4px;
}

#add_to_cart_logo {
	width: 21.6px;
	height: 21.6px;
}

#qty_input {
	width: 60px;
	text-align: center;
}

#container {
	background: red($color: #000000);
}

.d-flex {
	background-color: green($color: #000000);
}
