@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';
#badge-wrapper {
	background: #fbb829;
	border-radius: 21px;
	height: 22px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}

#icon-status {
	width: 140px;
	position: relative;
	float: left;
	height: 50px;
}

.noshowing {
	display: none;
}
.noshowicon {
	display: none;
}
.label-icon {
	width: 100%;
	position: relative;
	float: left;
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	font-feature-settings: 'kern' off;
	color: $color-primary;
	padding-left: 10px;
}

.showing {
	text-decoration: none;
}
.showicon {
	text-decoration: none;
}

#detail-status {
	min-width: 25%;
}

#kotak-icon {
	height: 30px;
	width: 30px;
	float: left;
	border-radius: 50%;
	padding: 2px 0px 0px 4px;
}

.showred {
	background-color: #db0a2a;
}

.showgrey {
	border: 0.5px solid #a9a9a9;
}

#icon-confirmed {
	width: 24px;
	margin-top: -8px;
}

#icon-delivery {
	margin-left: -3px;
}

.delivery {
	background-image: url('../../../../../assets/image/icons/icon-delivery.svg');
	background-repeat: no-repeat;
	background-size: 25px;
	width: 25px;
	background-position: center;
	margin-top: 10px;
	margin-left: 2px;
}
.delivery2 {
	background-image: url('../../../../../assets/image/icons/icon-delivery2.svg');
	width: 22px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	margin-left: 8px;
}

#icon-delivered {
	// -webkit-filter: drop-shadow(1px 1px 0 #EFEFEF) drop-shadow(-1px -1px 0 #EFEFEF);
	margin-top: 0px;
}

#icon-processed {
	// -webkit-filter: drop-shadow(1px 1px 0 #EFEFEF) drop-shadow(-1px -1px 0 #EFEFEF);
	margin-top: 0px;
}

#icon-delivery {
	// -webkit-filter: drop-shadow(1px 1px 0 #EFEFEF) drop-shadow(-1px -1px 0 #EFEFEF);
	margin-top: 0px;
}

#icon-confirmed {
	margin-top: 0px;
	// -webkit-filter: drop-shadow(1px 1px 0 #EFEFEF) drop-shadow(-1px -1px 0 #EFEFEF);
}

.sampai {
	background-image: url('../../../../../assets/image/icons/icon-delivered.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	width: 22px;
	margin-top: 10px;
}

.sampai2 {
	position: relative;
	background-image: url('../../../../../assets/image/icons/icon-delivered2.svg');
	background-repeat: no-repeat;
	background-size: 16px;
	width: 16px;
	background-position: center;
	margin-left: 2px;
}

.confirmed {
	background-image: url('../../../../../assets/image/icons/icon-confirmed.svg');
	background-repeat: no-repeat;
	background-size: 28px;
	width: 28px;
	margin-top: 10px;
}

.confirmed2 {
	margin-top: -4px;
	background-image: url('../../../../../assets/image/icons/icon-confirmed.svg');
	background-repeat: no-repeat;
	background-size: 25px;
}

.processed {
	background-image: url('../../../../../assets/image/icons/icon-processed.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	width: 22px;
	margin-top: 10px;
}

.processed2 {
	background-image: url('../../../../../assets/image/icons/icon-processed.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	width: 22px;
	margin-top: 10px;
}
