<div [ngClass]="(show == true)? 'noshowing' : 'showing'">
	<div id="badge-wrapper"
		class="d-flex align-items-center justify-content-center">


		<container-element [ngSwitch]="label.status">
			<div *ngSwitchCase="'CANCEL'">Dibatalkan</div>
			<div *ngSwitchCase="'OUTOFSTOCK'">
				<div *ngIf="label.availability == 'COMING_SOON'; else default">Stok Habis</div>
				<ng-template #default>Stok Habis</ng-template>
			</div>
			<div *ngSwitchCase="'REJECTED'">Ditolak</div>
			<div *ngSwitchCase="'CLOSED'">Selesai</div>
			<div *ngSwitchCase="'PROCESS'">Diproses</div>
			<div *ngSwitchDefault>Diproses</div>
		</container-element>

	</div>
</div>

<div [ngClass]="(label.status == 'PROCESS' || label.status =='CLOSED')? 'showicon' : 'noshowicon'">
	<div class="d-flex"
		id="icon-status">
		<div class="p-2 bd-highlight"
			id="detail-status">

			<div class="d-sm-inline-flex"
				[ngClass]="(label.status == 'PROCESS' || label.status == 'CLOSED')? 'showred' : 'showgrey'"
				id="kotak-icon">

				<span [ngClass]="(label.status == 'PROCESS' || label.status == 'CLOSED')? 'processed' : 'processed2'"
					id="icon-processed"></span>
			</div>
		</div>
		<div class="p-2 bd-highlight"
			id="detail-status">
			<div class="d-sm-inline-flex"
				[ngClass]="(label.status == 'CLOSED')? 'showred' : 'showgrey'"
				id="kotak-icon">
				<span [ngClass]="(label.status == 'CLOSED')? 'delivery' : 'delivery2'"
					id="icon-delivery"></span></div>
		</div>
		<div class="p-2 bd-highlight"
			id="detail-status">
			<div class="d-sm-inline-flex"
				[ngClass]="(label.status == 'CLOSED')? 'showred' : 'showgrey'"
				id="kotak-icon">
				<span [ngClass]="(label.status == 'CLOSED')? 'sampai' : 'sampai2'"
					id="icon-delivered"></span>
			</div>
		</div>
		<div class="p-2 bd-highlight"
			id="detail-status">
			<div class="d-sm-inline-flex"
				[ngClass]="(label.status == 'CLOSED')? 'showred' : 'showgrey'"
				id="kotak-icon">
				<span [ngClass]="(label.status == 'CLOSED')? 'confirmed' : 'confirmed2'"
					id="icon-confirmed"></span>
			</div>
		</div>
	</div>
	<div class="label-icon">{{label.statusprocess}}</div>
</div>
