@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';
#badge-wrapper {
	background: #fbb829;
	border-radius: 21px;
	width: 105px;
	height: 22px;

	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}

#icon-status{
	width:70%;position: relative;float: left;height:50px;
}

#detail-status{
	min-width:25%;
}

#kotak-icon{
	height:24px;width:24px;float:left;border-radius:50%;background-color: #DB0A2A;padding:2px 0px 0px 2px;
}