@import '../../../../styles/variables/colors';

#footer-bar-container {
	height: 200px;
	background-color: $putih-tok;
	border: 0.5px solid $abu-abu-aspal;
}

#kotakemail{
	border: solid yellowgreen 0px;
	width: 99px;
	height: 99px;
	position: fixed;
	float: right;
	top:75%;
	right: 0%;
	border-radius: 50%;
	border:solid blue 0px;
}

#footer-logo {
	width: 185.83px;
	height: 86px;
	margin-top: 12px;
}

.white-space-60px {
	width: 60px;
}

#email-button {
	margin-right: 130px;
}
