<div class="d-flex justify-content-between align-items-center">
    <div id="header">
        Tambah Alamat Baru
    </div>
    <img id="close-dialog-button"
        (click)="batal()"
        src="../../../../../assets/image/icons/ic-x.png">
</div>

<wsv wide="24px"></wsv>
<div class="d-flex">
    <div class="flex-even">
        <div class="d-flex justify-content-end align-items-center">
            <label-input label="Nama Alamat"></label-input>
            <wsh wide="16px"></wsh>

            <!-- <input-dropdown style="width: 298px;"
				[items]="states"
				placeholderText="Jenis Perusahaan"
				idText="jenisperusahaan"
				(onSelect)="onUserInputJenisPerusahaan($event)"></input-dropdown> -->

            <rounded-input width="298px"
                placeholderText="PT ABC"
                (onUserInput)="onUserInputNamaPerusahaan($event)"></rounded-input>

        </div>

    </div>
    <div class="flex-even">
        <div class="d-flex justify-content-end align-items-center">


        </div>
    </div>
</div>
<wsv wide="24px"></wsv>
<horizontal-line></horizontal-line>
<wsv wide="24px"></wsv>
<div class="d-flex justify-content-end align-items-center">
    <label-input label="Detail Alamat"></label-input>
    <wsh wide="16px"></wsh>
    <rounded-input width="788px"
        placeholderText="Jl. Boulevard Raya"
        (onUserInput)="onUserInputDetailPerusahaan($event)"></rounded-input>
</div>

<wsv wide="24px"></wsv>
<div class="d-flex">
    <div class="flex-even">
        <div class="d-flex justify-content-end align-items-center">
            <label-input label="Provinsi"></label-input>
            <wsh wide="16px"></wsh>
            <input-dropdown style="width: 298px;"
                [items]="provinces"
                placeholderText="Provinsi"
                [edited]="editProvinsi"
                (editEvent)="editProvinsi = false"
                (onSelect)="onProvinceSelected($event)"></input-dropdown>
        </div>

    </div>
    <div class="flex-even">
        <div class="d-flex justify-content-end align-items-center">
            <label-input label="Kota/Kabupaten"></label-input>
            <wsh wide="16px"></wsh>
            <input-dropdown style="width: 298px;"
                [items]="districts"
                placeholderText="Kota/Kabupaten"
                [selected]="selectedDistrict"
                [edited]="editKabupaten"
                (editEvent)="editKabupaten = false"
                (onSelect)="onDistrictSelected($event)"
                [disable]="disableKabupaten"></input-dropdown>
        </div>
    </div>
</div>

<wsv wide="24px"></wsv>
<div class="d-flex">
    <div class="flex-even">
        <div class="d-flex justify-content-end align-items-center">
            <label-input label="Kecamatan"></label-input>
            <wsh wide="16px"></wsh>
            <input-dropdown style="width: 298px;"
                [items]="subdistricts"
                placeholderText="Kecamatan"
                [selected]="selectedSubdistrict"
                (onSelect)="onSubdistrictSelected($event)"
                [edited]="editKecamatan"
                (editEvent)="editKecamatan = false"
                [disable]="disableKecamatan">
            </input-dropdown>
        </div>

    </div>
    <div class="flex-even">
        <div class="d-flex justify-content-end align-items-center">
            <label-input label="Kelurahan"></label-input>
            <wsh wide="16px"></wsh>
            <input-dropdown style="width: 298px;"
                [items]="villages"
                placeholderText="Kelurahan"
                [selected]="selectedVillage"
                (onSelect)="onVillageSelected($event)"
                [edited]="editKelurahan"
                (editEvent)="editKelurahan = false"
                [disable]="disableKelurahan">
            </input-dropdown>
        </div>
    </div>
</div>

<wsv wide="24px"></wsv>
<div class="d-flex">
    <div class="flex-even">
        <div class="d-flex justify-content-end align-items-center">
            <label-input label="Kode Pos"></label-input>
            <wsh wide="16px"></wsh>
            <rounded-input width="298px"
                [disable]="true"
                placeholderText="Kode Pos"
                [content]="selectedVillage?.zipcode"></rounded-input>
        </div>

    </div>
    <div class="flex-even">
    </div>
</div>


<wsv wide="24px"></wsv>
<horizontal-line></horizontal-line>
<wsv wide="24px"></wsv>
<div class="d-flex">
    <div class="flex-even">
        <div class="d-flex justify-content-end align-items-center">
            <label-input label="Nama Penerima"></label-input>
            <wsh wide="16px"></wsh>
            <rounded-input width="298px"
                placeholderText="Nama Penerima"
                (onUserInput)="onUserInputNamaPenerima($event)"></rounded-input>
        </div>

    </div>
    <div class="flex-even">
        <div class="d-flex justify-content-end align-items-center">
            <label-input label="No Telp"></label-input>
            <wsh wide="16px"></wsh>
            <rounded-input width="298px"
                placeholderText="No Telp"
                (onUserInput)="onUserInputNoTelp($event)"></rounded-input>
        </div>
    </div>
</div>
<wsv wide="24px"></wsv>
<div class="d-flex justify-content-end align-items-center">
    <label-input label="Catatan Pengiriman"
        [harusDiisi]="true"></label-input>
    <wsh wide="16px"></wsh>
    <rounded-input width="788px"
        placeholderText="Catatan Pengiriman"
        (onUserInput)="onUserInputCatatanPengiriman($event)"></rounded-input>
</div>

<wsv wide="24px"></wsv>
<div class="d-flex justify-content-between align-items-center">
    <div>* Wajib diisi</div>
    <div class="d-flex">
        <button-gray label="Batal"
            style="cursor: pointer;"
            (click)="batal()"></button-gray>
        <wsh wide="16px"></wsh>

        <rounded-red-button *ngIf="valid()"
            label="Tambah"
            font="14px"
            paddingtop="5px"
            paddingbottom="5px"
            paddingleft="30px"
            paddingright="30px"
            (click)="submit()"
            float="right"></rounded-red-button>

        <rounded-gray-button *ngIf="!valid()"
            label="Tambah"
            font="14px"
            paddingtop="5px"
            paddingbottom="5px"
            paddingleft="30px"
            paddingright="30px"
            float="right"></rounded-gray-button>
    </div>
</div>
