<div class="kredit-wrapper">
	<table class="table table-borderless">
		<thead>
			<tr>
				<th>
					<div>
						<div class="d-flex justify-content-center">
							No. Tagihan
						</div>
						<wsv wide="9px"></wsv>
						<horizontal-line></horizontal-line>
					</div>


				</th>
				<th>
					<div>
						<div class="d-flex justify-content-center">
							Tanggal Pemesanan
						</div>
						<wsv wide="9px"></wsv>
						<horizontal-line></horizontal-line>
					</div>

				</th>
				<!-- <th>
					<div>
						<div class="d-flex justify-content-center">
							Tanggal Jatuh Tempo
						</div>
						<wsv wide="9px"></wsv>
						<horizontal-line></horizontal-line> 
					</div>
				</th> -->
				<th>
					<div>
						<div class="d-flex justify-content-center text-left">
							Status Pembayaran
						</div>
						<wsv wide="9px"></wsv>
						<horizontal-line></horizontal-line>
					</div>
				</th>

			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let items of tagihanHist; let i = index"
				(click)="lihatTagihanDetail(items)"
				style="cursor: pointer;">
				<td class="text-center">{{items?.invoice_no}}</td>
				<td class="text-center">{{items.released_at | tanggal: 'dmy'}}</td>
				<!-- <td class="text-right">{{items.mutation | number}}</td> -->
				<td class="text-center">{{items.invoice_status}}</td>
			</tr>

		</tbody>
	</table>
</div>
