<div id="wrapper-item-approval">
	<div id="header">

		<div id="header-top">

			<div id="header-top-1">
				<span class="label-gray">Request By : </span>
				<span class="label-gray-2">Purchaser 01</span>
			</div>
			<div id="header-top-2">
				<red-bg-button label="Beli Lagi"
					(click)="belilagi()"></red-bg-button>
			</div>
		</div>

		<div id="header-bottom">

			<div id="purchaser-col-1"
				class="d-flex align-items-center">

				<div id="purchaser-col-1">
					<div class="label-gray">Tgl. Pemesanan</div>
					<div class="label-gray-2">18 Juli 2020</div>
				</div>
			</div>

			<wsh wide="11px"></wsh>


			<div id="purchaser-col-2"
				class="d-flex align-items-center">
				<div>
					<div id="purchaser-col-1">
						<div class="label-gray">No. Pemesanan</div>
						<div class="label-gray-2">20300040218</div>
					</div>
				</div>
			</div>
			<wsh wide="11px"></wsh>

			<div id="purchaser-col-3"
				class="d-flex align-items-center">
				<div>
					<div id="purchaser-col-1">
						<div class="label-gray">No. Resi</div>
						<div class="label-gray-2">00000000000000000000001</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div id="content"
		class="d-flex">
		<img src='../../../../../assets/image/icons/macbook_a.png'
			id="item-img">
		<wsh wide="15px"></wsh>
		<div id="item-desc-wrapper">
			<item-desc></item-desc>
			<wsv wide="6px"></wsv>
			<div class="gray-label-3">Jumlah: 3 Barang</div>
		</div>

	</div>



</div>
