.div-grid-selection {
	width: 76px;
	height: 50px;
	border-radius: 10%;
	border: 0.5px solid #A9A9A9;
	box-sizing: border-box;
	cursor: pointer;
}

.div-grid-selected {
	width: 76px;
	height: 50px;
	border-radius: 10%;
	border: 2px solid #A9A9A9;
	box-sizing: border-box;
	cursor: pointer;
}

.image-grid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}