@import '../../../../styles/variables/colors';
@import '../../../../styles/variables/fonts';

.custom-checkbox {
	width: 24px;
	height: 24px;

	background: #ffffff;
	border: 1px solid $color-primary;
	border-radius: 50%;
	box-sizing: border-box;
}

.custom-checkbox-checked {
	width: 24px;
	height: 24px;

	border: 1px solid $merah-root-beat;
	border-radius: 50%;
	box-sizing: border-box;
	background: $merah-root-beat;
}

.custom-checkbox-mark {
	width: 24.98px;
	height: 18.03px;
	margin-left: 1px;
	margin-bottom: 10px;
}
