<div class="d-flex justify-content-between align-items-center">
    <div id="header">
        Tambah Dokter Baru
    </div>
    <img id="close-dialog-button"
        (click)="batal()"
        src="../../../../../assets/image/icons/ic-x.png">
</div>

<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="NAMA DOKTER"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>


        <rounded-input width="298px"
            placeholderText="dr. Sara Tancredi"
            (onUserInput)="onUserInput($event, 'NAMADOKTER')"></rounded-input>

    </div>
    <wsh wide="16px"></wsh>
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="KODE DOKTER"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>

        <rounded-input width="160px"
            placeholderText=""
            (onUserInput)="onUserInput($event, 'KODEDOKTER')"></rounded-input>

    </div>

</div>
<wsv wide="12px"></wsv>
<horizontal-line></horizontal-line>
<wsv wide="12px"></wsv>

<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="ALAMAT 1"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="788px"
            placeholderText="Jl. Raya "
            (onUserInput)="onUserInput($event,'ALM1DOKTER')"></rounded-input>
    </div>
</div>

<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="ALAMAT 2"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="788px"
            placeholderText="Jl. Raya "
            (onUserInput)="onUserInput($event,'ALM2DOKTER')"></rounded-input>
    </div>
</div>



<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="REK DOKTER"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText="00000000"
            (onUserInput)="onUserInput($event,'NOREKDR')"></rounded-input>

    </div>
    <wsh wide="24px"></wsh>
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="BANK"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <input-dropdown style="width: 298px;"
            [items]="banks"
            [edited]="editBank"
            (editEvent)="editBank = false"
            (onSelect)="onUserInputSelected($event,'kodebank')"></input-dropdown>
    </div>

</div>

<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="JENIS KELAMIN"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <input-dropdown style="width: 298px;"
            [items]="states"
            (onSelect)="onUserInputSelected($event,'JNSKELAMIN')"></input-dropdown>
    </div>
    <wsh wide="24px"></wsh>
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="SPESIALISASI"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <input-dropdown style="width: 298px;"
            [items]="spesialisasis"
            placeholderText="Spesialisasi"
            [edited]="editSpesialisasi"
            (editEvent)="editSpesialisasi = false"
            (onSelect)="onUserInputSelected($event,'KODEPMR')"></input-dropdown>
    </div>

</div>


<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="NO TELP"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText="000-0000"
            (onUserInput)="onUserInput($event,'TELPDOKTER')"></rounded-input>
    </div>
    <wsh wide="24px"></wsh>
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="TELP PRAKTEK"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText="0000-0000-0000"
            (onUserInput)="onUserInput($event,'TELPRAKTEK')"></rounded-input>
    </div>

</div>

<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="POTPAJAK"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'POTPAJAK')"></rounded-input>
    </div>
    <wsh wide="24px"></wsh>
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="STSKERJADR"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'STSKERJADR')"></rounded-input>
    </div>

</div>

<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="MAXPASIEN"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'MAXPASIEN')"></rounded-input>
    </div>
    <wsh wide="24px"></wsh>
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="JENISDR"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'JENISDR')"></rounded-input>
    </div>

</div>


<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="NMGELARDPN"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'NMGELARDPN')"></rounded-input>
    </div>
    <wsh wide="24px"></wsh>
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="NMGELARBLK"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'NMGELARBLK')"></rounded-input>
    </div>

</div>


<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="JSDRPASPT"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'JSDRPASPT')"></rounded-input>
    </div>
    <wsh wide="24px"></wsh>
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="JSDRPASUMUM"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'JSDRPASUMUM')"></rounded-input>
    </div>

</div>


<wsv wide="12px"></wsv>
<div class="d-flex">
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="PASPTHJ"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'PASPTHJ')"></rounded-input>
    </div>
    <wsh wide="24px"></wsh>
    <div class="d-flex justify-content-end align-items-center">
        <label-input label="PASUMHJ"
            style="width:130px;"></label-input>
        <wsh wide="16px"></wsh>
        <rounded-input width="298px"
            placeholderText=""
            (onUserInput)="onUserInput($event,'PASUMHJ')"></rounded-input>
    </div>

</div>



<wsv wide="12px"></wsv>
<horizontal-line></horizontal-line>
<wsv wide="12px"></wsv>
<div class="d-flex">


    <div class="flex-even">
        <div class="d-flex justify-content-end align-items-center">

        </div>
    </div>
</div>
<wsv wide="12px"></wsv>


<wsv wide="12px"></wsv>
<div class="d-flex justify-content-between align-items-center">
    <div>* Wajib diisi</div>
    <div class="d-flex">
        <button-gray label="Batal"
            style="cursor: pointer;"
            (click)="batal()"></button-gray>
        <wsh wide="16px"></wsh>

        <rounded-red-button *ngIf="valid()"
            label="Tambah"
            font="14px"
            paddingtop="5px"
            paddingbottom="5px"
            paddingleft="30px"
            paddingright="30px"
            (click)="submit()"
            float="right"></rounded-red-button>

        <rounded-gray-button *ngIf="!valid()"
            label="Tambah"
            font="14px"
            paddingtop="5px"
            paddingbottom="5px"
            paddingleft="30px"
            paddingright="30px"
            float="right"></rounded-gray-button>
    </div>
</div>
