<div class="d-flex align-items-center">
	<div class="flex-grow-1 d-flex ">
		<filter-dropdown-list class="flex-even"></filter-dropdown-list>
		<wsh wide="10px"></wsh>
		<filter-dropdown-list class="flex-even"></filter-dropdown-list>
		<wsh wide="10px"></wsh>
		<filter-input class="flex-even"
			hint="Cari Pesanan"
			logo="../../../../assets/image/icons/searchbutton.png"
			[disabled]="false"></filter-input>
		<wsh wide="10px"></wsh>
		<filter-date class="flex-even"></filter-date>
	</div>
	<wsh wide="24px"></wsh>

	<reset-filter class="d-flex align-items-center"></reset-filter>

</div>
