<div class="d-flex align-items-center">
	<div class="flex-grow-1 d-flex ">
		<filter-delivery-address class="flex-even"
			(address_id)="updateDeliveryAddress($event)"></filter-delivery-address>
		<wsh wide="10px"></wsh>
		<filter-purchaser class="flex-even"
			(user_id)="updateUserId($event)"></filter-purchaser>
		<wsh wide="10px">
		</wsh>
		<filter-input class="flex-even"
			hint="Cari Pesanan"
			logo="../../../../assets/image/icons/searchbutton.png"
			(keyword)="test($event)"
			[disabled]="false"></filter-input>
		<wsh wide="10px"></wsh>
		<filter-date class="flex-even"
			(dateSelectedEvent)="updateDate($event)"></filter-date>
	</div>
	<wsh wide="24px"></wsh>

	<reset-filter class="d-flex align-items-center"></reset-filter>

</div>
