.home-container {
	margin-top: 20px;
}

.white-space {
	height: 20px;
}

.justify-content-end{
// justify-content: flex-end !important; 
    position: fixed;
    bottom: 250px;
    float: right;
    width: 25%;
	left: 85%;
}