@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#breadcrumb-nest{
	font-family: $primary-font;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	padding-bottom: 10px;
	color: $abu-abu-sesuatu;
}

.arrow-breadcrumb{
	margin-left: 12px;
	margin-right: 12px;
}

.th-produk{
	color: $merah-terang;
}