<div id="breadcrumb-nest"
	class="d-flex">
	<div class="breadcrumb-link"
		[routerLink]="['../']">Home</div>
	<img src="../../../../../assets/image/icons/arrow.svg"
		class="arrow-breadcrumb">
	<div class="breadcrumb-link"
		[routerLink]="['../pilih-produk']">Fashion Pria</div>
	<img src="../../../../../assets/image/icons/arrow.svg"
		class="arrow-breadcrumb">
	<div class="breadcrumb-link"
		[routerLink]="['../pilih-produk']">Outer Pria</div>
	<img src="../../../../../assets/image/icons/arrow.svg"
		class="arrow-breadcrumb">
	<font class="th-produk">
		<div class="breadcrumb-link">Sweater Pria</div>
	</font>
</div>
