<div class="info-perusahaan-card-wrapper d-flex">
	<div class="flex-grow-1">
		<div id="perusahaan-label">
			Narindo Solusi Telekomunikasi
		</div>
		<wsv wide="12px"></wsv>
		<horizontal-line></horizontal-line>
		<wsv wide="12px"></wsv>
		<div class="d-flex">
			<name-address class="flex-even"
				title="Ronnie H"
				content="Jl. Boulevard Raya, Graha Boulevard No C-12, Kelapa Gading, Jakarta Utara 14320 Telepon/Handphone 08123456789">
			</name-address>
			<wsh wide="25px"></wsh>
			<name-address class="flex-even"
				title="Catatan Pengiriman"
				content="titip di resepsionis"></name-address>
		</div>
	</div>
	<div class="d-flex">
		<trash-can></trash-can>
		<wsh wide="16px"></wsh>
		<edit></edit>
		<wsh wide="16px"></wsh>
		<set-utama-button [utama]="utama"></set-utama-button>
	</div>
</div>
