<div id="{{divemail}}">
	<app-email-button id="email-button"></app-email-button>
</div>

<div id="footer-bar-container"
	class="d-flex justify-content-around align-items-center">
	<img src="../../../../assets/image/logo/logo-nest-red.png"
		id="footer-logo">
	<div class="d-flex justify-content-around align-items-center">
		<footer-feature image="../../../../assets/image/logo/thumbs_up_red_circle.png"
			titleOne="Jaminan"
			titleTwo="Pengiriman"></footer-feature>
		<div class="white-space-60px"></div>
		<footer-feature image="../../../../assets/image/logo/money-red_circle.png"
			titleOne="Kemudahan"
			titleTwo="Pembayaran"></footer-feature>
		<div class="white-space-60px"></div>
		<footer-feature image="../../../../assets/image/logo/time-red-circle.png"
			titleOne="Respon"
			titleTwo="Cepat"></footer-feature>
	</div>

	<footer-customer-support></footer-customer-support>
</div>
