<div id="{{divemail}}">
	<app-email-button id="email-button"></app-email-button>
</div>

<div id="footer-bar-container"
	class="d-flex justify-content-around align-items-center">
	<div>
		<img src="../../../../assets/image/logo/logofooter.svg"
			id="footer-logo">
	</div>

	<div class="d-flex justify-content-around align-items-center">

		<footer-feature image="../../../../assets/image/logo/ft1.png"
			titleOne="Jaminan"
			titleTwo="Pengiriman"></footer-feature>
		<div class="white-space-60px"></div>
		<footer-feature image="../../../../assets/image/logo/ft2.png"
			titleOne="Kemudahan"
			titleTwo="Pembayaran"></footer-feature>
		<div class="white-space-60px"></div>
		<footer-feature image="../../../../assets/image/logo/ft3.png"
			titleOne="Respon"
			titleTwo="Cepat"></footer-feature>
	</div>

	<footer-customer-support></footer-customer-support>
</div>
