<div class="d-flex align-items-center">
  <div id="item-image">
    <img [src]="item?.product_image"
      id="item-image"
      [ngClass]="classObj"
      (click)="goToDetail()"
      class="{{styles}}">
  </div>

  <div class="flex-grow-1">
    <div id="item-list-name"
      class="{{styles}}">
      <a (click)="goToDetail()"
        class="{{styles}}">{{item?.product_name}}</a></div>
    <wsv wide="6px"></wsv>
    <div id="item-list-price">{{item?.sell_price|rupiah}}</div>
    <wsv wide="12px"></wsv>
    <wsv wide="10px"></wsv>
    <ng-content></ng-content>
  </div>
</div>
