<div id="item-list"
	class="d-flex">
	<div id="item-list-left">
		<div id="item-list-image"><a (click)="goToDetail()"
				class="redirectdetail"><img src="{{items.itemImage}}"
					id="item-image"></a></div>
	</div>
	<div id="item-list-right"
		class="flex-grow-1">
		<div id="item-list-name"><a class="redirectdetail"
				(click)="goToDetail()">{{items.itemName}}</a></div>
		<div id="item-list-price">{{items.itemPrice}}</div>
		<div id="item-list-color">
			<div id="rounded-item-wording">Warna</div>
			<div id="rounded-item-color">
				<div class="rounded-item-color"
					style="background-color: {{items.itemColor}}"></div>
			</div>
		</div>
		<div id="item-list-weight">
			<div id="item-list-weight-left">Berat</div>
			<div id="item-list-weight-right">{{items.itemWeight}}</div>
		</div>
	</div>
</div>
