.rounded-option-product-selected {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #b71a30;
	border: 0.5px solid #606060;
	box-sizing: border-box;
	cursor: pointer;
}

.rounded-option-product {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #b71a30;
	border: 0.5px solid #606060;
	box-sizing: border-box;
	cursor: pointer;
}
