#main-layout-container {
	padding-top: 80px;
}

@font-face {
	font-family: Raleway;
	src: url(../../../../assets/font/raleway-v16-latin-regular.woff);
}

@font-face {
	font-family: OpenSans;
	src: url(../../../../assets/font/open-sans-v17-latin-regular.woff);
}
