<div class="d-flex justify-content-center"
    style="font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
color: #606060;">
    <b>Pemesanan Selesai</b>
</div>
<wsv wide="32px"></wsv>
<div class="d-flex justify-content-center align-items-center"
    style="font-weight: bold;
font-size: 16px;
line-height: 22px;
color: #5F5F5F;">
    <img src="../../../../assets/image/icons/checklist_done.png"
        width="25.95px">
    <wsh wide="19px"></wsh>
    <div>Konfirmasi terima pemesanan anda</div>
</div>

<wsv wide="25px"></wsv>
<div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center align-items-center"
        style="border: 0.5px solid #A9A9A9;
    box-sizing: border-box;
height: 32px;
    border-radius: 20px;width: 89px;font-size: 14px;
line-height: 19px;
color: #A9A9A9;cursor: pointer;"
        (click)="cancel()">Batal</div>

    <wsh wide="25px"></wsh>
    <div class="d-flex justify-content-center align-items-center"
        style="background: #DB0A2A;
        border-radius: 31px;font-weight: bold;
font-size: 14px;
width: 89px;
height: 32px;
line-height: 19px;
color: #FFFFFF;cursor: pointer;"
        (click)="ok()">Terima</div>

</div>
