@import '../../../../styles/variables/colors';
//@import '../../../../../styles/variables/fonts';
#detail-main-image {
	width: 349px;
	height: 349px;
	object-fit: scale-down;
}

   .btn-nav{
	width: 320px;
	position: absolute;
	top : 45%;
   }
   .btn-nav span {
      cursor: pointer;
   }

    .btn_prev{
		margin-left: -20px;
	}
   .buttonnp{
	   width: 35px;
	   height: 35px;
   }