@import '../../../../styles/variables/colors';
@import '../../../../styles/variables/fonts';

.rounded-input-wrapper {
	background: #ffffff;
	border: 0.5px solid #a9a9a9;
	box-sizing: border-box;
	border-radius: 6px;
	height: 30px;
}
input {
	background: transparent;
	font-family: $primary-font;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	padding-left: 12px;
	padding-right: 12px;
	width: 100%;
	/* or 171% */
}

::placeholder {
	background: transparent;
	font-family: $primary-font;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;

	color: #abafb3;
}
