@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#float-foot {
	background: $color-primary;
	box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.1);
}
#outer-wrapper {
	position: fixed;
	bottom: 0%;
	width: 100%;
}

#float-foot-wrapper {
	height: 71px;
}

#review-foot {
	font-family: $primary-font;
	font-weight: bold;
	font-size: 16px;

	color: $putih-tok;
}

#total-foot-label {
	font-family: $primary-font;
	font-weight: bold;
	font-size: 13px;
	text-align: right;
	color: $putih-tok;
}

#total-foot {
	font-family: $primary-font;
	font-weight: bold;
	font-size: 20px;

	color: $putih-tok;
}

#tambahkan-button {
	background: $putih-tok;
	border: 0.796127px solid rgba(96, 96, 96, 0.3);
	box-sizing: border-box;
	border-radius: 7.96127px;
	width: 165.33px;
	height: 32.1px;
}

#cart-logo {
	height: 22px;
	width: 24.8px;
}

#tambahkan-label {
	font-family: $primary-font;
	font-weight: bold;
	font-size: 12.738px;
	line-height: 17px;
	color: $color-primary;
}

#tambahkan-button {
	cursor: pointer;
}
