<div class="wrapper-card-2 d-flex justify-content-between align-items-center">
	<div id="container-inside">
		<img class="logo-purchaser"
			src="../../../../../assets/image/icons/purchaser-logo.png">
		<div class="opacity-background d-flex justify-content-center align-items-center id-trash-can">
			<img id="logo-delete"
				src="../../../../../assets/image/icons/trash_can_3.png"
				(click)="actionTolak()">
		</div>

	</div>

	<div id="wrapper-right">
		<div class="label-1">{{user.fullname|truncate:24}}</div>
		<div class="label-2">{{user.email|truncate:24}}</div>
	</div>
</div>
