<div class="container">
	<wsv wide="24px"></wsv>
	<div id="keranjang-label">APPROVAL</div>
	<wsv wide="7px"></wsv>
	<div class="d-flex justify-content-center">

		<item-summary-dropdown></item-summary-dropdown>

	</div>
	<wsv wide="30px"></wsv>



	<!-- <div class="d-flex justify-content-around">

		<div *ngFor="let listApproval of listApprovals">
			<address-notif [label]='listApproval'
				[selected]='selected'
				(diklik)='diklikEvent($event)'></address-notif>
		</div>

	</div> -->


	<section class="d-flex justify-content-around list-with-scroll">

		<div class="list"
			appScrollable
			#list="appScrollable"
			[scrollUnit]="150">

			<div *ngFor="let listApproval of listApprovals"
				class="item">
				<address-notif [label]='listApproval'
					[selected]='selected'
					(diklik)='diklikEvent($event)'></address-notif>
			</div>
		</div>

		<!-- Previous Button -->
		<button class="scroll-button"
			*ngIf="list.isOverflow"
			[class.disable]="!list.canScrollStart"
			(click)="list.scroll(-1)"
			id="scroll-left"><img src="../../../../../assets/image/icons/address-button-notify-prev.svg"></button>

		<!-- Next Button -->
		<button class="scroll-button"
			*ngIf="list.isOverflow"
			[class.disable]="!list.canScrollEnd"
			(click)="list.scroll(1)"><img
				src="../../../../../assets/image/icons/address-button-notify-next.svg"></button>

	</section>


	<wsv wide="30px"></wsv>
	<div>

		Filter DISINIASJDKAJSDKAJDKAJDASDJAKDJAJSDKSJK
	</div>

	<wsv wide="29px"></wsv>


	<div class="d-flex">
		<wsh wide="13px"></wsh>
		<check-box-round [checked]="true"
			allowChanges="true"></check-box-round>
	</div>
</div>



<wsv wide="150px"></wsv>
<div class="container d-flex">

	<div id="left-container">

		Item List Disiniahsdkjahsdkjhaskjhdkajsaskdhkajshdkjhkajshkjdhakjhsdkjashdkjashkjahsdkajhkjdh


	</div>

	<div id="right-container">
		<wsv wide="20px"></wsv>
		<div id="right-fixed">
			<div class="d-flex">
				<wsh wide="57px"></wsh>
				<box-cart-price buttonLabel="Selanjutnya"
					[buttonDisable]="false"></box-cart-price>
			</div>

		</div>
	</div>


</div>
