<div class="container d-flex">
	<div id="left-container">

		<div id="top-fixed"
			class="bg-10">

			<!-- <div id="keranjang-label">APPROVAL</div> -->
			<wsv wide="7px"></wsv>
			<div class="d-flex justify-content-center">
				<item-summary-dropdown [list]="listApprovals"
					(onSelect)="handleSelectAddress($event)"
					[selected]='selected'></item-summary-dropdown>
			</div>
			<wsv wide="19px"></wsv>
			<section class="d-flex justify-content-around list-with-scroll">

				<div class="list"
					appScrollable
					#list="appScrollable"
					[scrollUnit]="150">

					<div *ngFor="let listApproval of listApprovals;let i = index"
						class="item">
						<address-notif [label]='listApproval'
							[selected]='selected'
							(diklik)='handleSelectAddress($event)'></address-notif>
						<address-warn-notif [label]='listApproval'></address-warn-notif>
					</div>
				</div>

				<!-- Previous Button -->
				<button class="scroll-button"
					*ngIf="list.isOverflow"
					[class.disable]="!list.canScrollStart"
					(click)="list.scroll(-1)"
					id="scroll-left"><img
						src="../../../../../assets/image/icons/address-button-notify-prev.svg"></button>

				<!-- Next Button -->
				<button class="scroll-button"
					*ngIf="list.isOverflow"
					[class.disable]="!list.canScrollEnd"
					(click)="list.scroll(1)"><img
						src="../../../../../assets/image/icons/address-button-notify-next.svg"></button>

			</section>

			<wsv wide="10px"></wsv>
			<div id="horizontal-line"></div>
			<wsv wide="20px"></wsv>

			<div class="d-flex align-items-center">
				<div class="flex-grow-1 d-flex ">
					<filter-purchaser class="flex-even"
						(user_id)="updateUserId($event)"></filter-purchaser>
					<wsh wide="24px"></wsh>
					<filter-input (keyup)="cari($event)"
						class="flex-even"
						hint="Cari Pesanan"
						logo="../../../../assets/image/icons/searchbutton.png"
						[disabled]="false"></filter-input>
					<wsh wide="24px"></wsh>
					<filter-date (dateSelectedEvent)="filterDate($event)"
						class="flex-even"></filter-date>
				</div>

				<wsh wide="24px"></wsh>

				<reset-filter class="d-flex align-items-center"
					(click)="resetButtonOnClick()"></reset-filter>

			</div>
			<wsv wide="20px"></wsv>

			<div class="d-flex">
				<wsh wide="13px"></wsh>
				<check-box-round [checked]="handlePilihSemuaStatus()"
					(click)="handlePilihSemua()"
					allowChanges="true"></check-box-round>
				<wsh wide="14px"></wsh>
				<div id="pilih-semua">Pilih Semua</div>

				<wsh wide="340px"></wsh>
				<div><span id="total-barang-terpilih">{{countCartItem()}} </span><span id="barang-terpilih-label">
						Barang Terpilih</span>
				</div>
			</div>
			<wsv wide="15px"></wsv>
		</div>
	</div>

</div>
<wsv wide="260px"></wsv>
<div class="container d-flex">

	<div id="left-container">
		<item-list-section [items]="items"
			(bapaknyaDiclick)="clickCheckBoxSatu($event)"></item-list-section>
		<wsv wide="60px"></wsv>
	</div>

	<div id="right-container">
		<div id="right-fixed">
			<div class="d-flex">
				<wsh wide="57px"></wsh>
				<div *ngIf="isManager()">
					<box-cart-price [selectedItems]="selectedItems"
						[pertotalan]="pertotalan"
						[buttonLabel]="buttonSelanjutnyaLabel()"
						[buttonDisable]="cartIsEmpty()"
						(buttonBoxCartPriceClick)="selanjutnyaClick()"></box-cart-price>
				</div>

			</div>

		</div>
	</div>

</div>
