<div #myDrop="ngbDropdown"
	ngbDropdown
	(openChange)="checkDropDown($event)">
	<div ngbDropdownToggle
		autoClose="outside"
		id="wrapper-approval-item-summary-dropdown"
		class="d-flex">
		<div class="flex-grow-1 d-flex justify-content-center align-items-center"
			id="item-belum-diapprove">
			<span>{{qty}}&nbsp;</span>Barang belum diapprove
		</div>
		<div id="arrow-approval-wrapper"
			class="d-flex justify-content-center align-items-center">
			<img src="../../../../../assets/image/icons/arrow-down.png"
				id="drop-down-item-summary-arrow">
		</div>

		<div ngbDropdownMenu>


		</div>
	</div>
</div>

<div id="padding-right-for-scroll"
	[ngClass]="(open)?'':'visibility-hidden'">
	<wsv wide="15px"></wsv>
	<div class="scrollbar"
		id="style-2"
		#scrollMe>
		<div>
			<div *ngFor="let waitingApproval of waitingApprovals;let i = index">
				<div id="item-row"
					class="d-flex justify-content-between item-row"
					[ngClass]="selected == waitingApproval ? 'selected' : '' "
					(click)="clickWaiting(waitingApproval, i);myDrop.close()">
					<div class="item-dropdown-class">
						{{waitingApproval.name}}
					</div>
					<div class="item-dropdown-class">
						{{waitingApproval.qty}} Barang
					</div>
				</div>
				<wsv wide="15px"></wsv>
			</div>
		</div>
	</div>

	<wsv wide="15px"></wsv>
</div>
