@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#popup-wording {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 5px 5px 0px 5px;
	font-family: $secondary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	color: $abu-abu-gelap-muda;
}

#popup-option {
	position: relative;
	float: left;
	width: 100%;
}

#popup-option-button {
	position: relative;
	width: 50%;
	float: left;
	height: 30px;
	margin-top: 5px;
}

.divbutton-left {
	float: center;
	position: relative;
	width: 184px;
	background-color: $abu-abu-sesuatu;
	border-radius: 20px;
	color: $putih-tok;
	text-align: center;
	padding-top:5px;
	box-sizing: border-box;
	border-radius: 57px;
	height: 32px;
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	cursor: pointer;
}

.divbutton-right {
	float: center;
	position: relative;
	width: 85%;
	background-color: $color-primary;
	border-radius: 20px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	padding-left: 80px;
	text-align: center;
	cursor: pointer;
	color: $putih-tok;
	height: 32px;
	font-family: $secondary-font;
}

.divbutton-center {
	float: center;
	position: relative;
	width: 25%;
	background-color: $color-primary;
	border-radius: 8px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	padding-left: 40px;
	text-align: center;
	cursor: pointer;
	color: $putih-tok;
	height: 32px;
	font-family: $secondary-font;
}

.tebal {
	color: $abu-abu-gelap-terang;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	text-align: center;

}

::placeholder{
	color: $abu-abu-lainnya;
}

#popup-option-button-all {
	position: relative;
	width: 100%;
	float: left;
	height: 40px;
}

#myTextarea {
	width: 400px;
	height: 70px;
	border: 0.5px solid #c4c4c4;
	padding: 7px 5px 5px 5px;
	box-sizing: border-box;
	border-radius: 10px;
}

.remark {
	color: $color-primary;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 8px;
	text-align: left;
	padding-left: 10px;
}
