@import '../../../../styles/variables/colors';
@import '../../../../styles/variables/fonts';

#button-wrapper {
	/* white */

	background: $color-primary;
	/* Primary Color */

	border: 0.5px solid $color-primary;
	box-sizing: border-box;
	border-radius: 57px;
	height: 32px;
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-align: center;

	/* Primary Color */
	cursor: pointer;
	color: $putih-tok;
	cursor: pointer;
}
