#scroll {
	height: 150vh;
	padding: 40px;
}

#Invoice {
	font-family: inherit !important;
	font-size: 48px !important;
}
.button-print {
	margin-top: 30px;
	float: right !important;
	z-index: 999999;
}
.icon-pdf {
	width: 40px;
	cursor: pointer;
	z-index: 999999;
}
.icon-print {
	width: 40px;
	cursor: pointer;
	z-index: 999999;
}

#headers {
	display: none;
}

@media print {
	@page {
		size: 297mm 210mm; /* landscape */
		/* you can also specify margins here: */
		margin: 25mm;
		margin-right: 45mm; /* for compatibility with both A4 and Letter */
	}
}
