#scroll {
	height: 150vh;
	padding: 40px;
}
.button-print {
	margin-top: 30px;
	float: right !important;
	z-index: 999999;
}
.icon-pdf {
	width: 40px;
	cursor: pointer;
	z-index: 999999;
}
.icon-print {
	width: 40px;
	cursor: pointer;
	z-index: 999999;
}

@page {
	size: 21cm 29.7cm;
	margin: 30mm 45mm 30mm 45mm;
	/* change the margins as you want them to be. */
}

@media print {
	#scroll {
		width: 21cm;
		height: 29.7cm;
		margin: 30mm 45mm 30mm 45mm;
		/* change the margins as you want them to be. */
	}
}
