<div class="container">
	<div class="d-flex">
		<div id="pilih-produk-container-1"
			style="padding-bottom: 20px;">
			<filter-card></filter-card>
		</div>
		<div id="pilih-produk-container-2"
			class="flex-grow-1">
			<div class="white-space"></div>
			<address-section borderRadius='20px'
				wide='75%'></address-section>
			<div class="white-space"></div>
			<div id="label-total-produk">{{qtyproduk}} produk <span id="choosen-produk">"{{keyword}}"</span> di semua
				Kategori
			</div>
			<div class="white-space"></div>
			<!-- *ngIf="IsWait" -->
			<mat-progress-spinner mode="indeterminate"
				diameter="30"
				color="warn"
				*ngIf="IsWait"></mat-progress-spinner>



			<app-catalog [items]="items"></app-catalog>
		</div>
	</div>

</div>

<!-- <div class="footer"> -->
<!-- <footer-bar></footer-bar> -->
<!-- <footer></footer> -->

<!-- </div> -->
