<div class="container">
	<div class="d-flex">
		<div id="pilih-produk-container-1">
			<filter-card></filter-card>
		</div>
		<div id="pilih-produk-container-2"
			class="flex-grow-1">
			<div class="white-space"></div>
			<address-section></address-section>
			<div class="white-space"></div>
			<div id="label-total-produk">3411 produk <span id="choosen-produk">"sweather"</span> di semua Kategori
			</div>
			<div class="white-space"></div>
			<app-catalog></app-catalog>
		</div>
	</div>

</div>

<div class="footer">
	<footer-bar></footer-bar>
	<footer></footer>

</div>
