@import '../../../../../styles/variables/colors';

#pilih-produk-container-1 {
	background: $putih-tok;
	flex: 0 0 315px;
	padding-bottom:80px;
}

#pilih-produk-container-2 {
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
}

.white-space {
	height: 20px;
}



#label-total-produk {
	color: $abu-abu-gelap;
	font-size: 16px;
	padding-left: 12px;
}

#choosen-produk {
	font-weight: bold;
}
