<div class="container">
	<div id="top-fixed">
		<div id="keranjang-label">REQUEST APPROVAL {{leftContainerHeight}} {{topFixed}} {{headers}}</div>
		<wsv wide="14px"></wsv>
		<request-approval-address [fullname]="fullname"
			[addressData]="addressData"></request-approval-address>
	</div>

	<div class="d-flex">
		<div class="flex-grow-1"
			id="left-container"
			[style.height.px]="leftContainerHeight">
			<wsv wide="20px"></wsv>
			<div *ngFor="let item of items">
				<item-card2 [item]="item"></item-card2>
				<wsv wide="20px"></wsv>
			</div>
		</div>
		<wsh wide="20px"></wsh>
		<box-cart-price [pertotalan]="pertotalan"
			[buttonDisable]="false"
			buttonLabel="Selanjutnya"
			(buttonBoxCartPriceClick)="selanjutnyaClick()"></box-cart-price>
	</div>
</div>
