<wsv wide="28px"></wsv>
<div class="d-flex justify-content-between">
	<div class="label-title">
		Kredit Perusahaan
	</div>

</div>
<wsv wide="24px"></wsv>
<div class="d-flex">
	<silinder label="Limit Kredit"
		content="{{limitkredit|rupiah}}"
		color="#fbb829"
		image="../../../../../assets/image/icons/centang-putih-polos.png"></silinder>
	<wsh wide="48px"></wsh>
	<silinder label="Sisa Kredit"
		content="{{sisakreditnya|rupiah}}"
		color="#DB0A2A"
		image="../../../../../assets/image/icons/icon-kredit.png"></silinder>
</div>

<wsv wide="24px"></wsv>
<horizontal-line></horizontal-line>

<wsv wide="24px"></wsv>
<kredit-table></kredit-table>
