<div class="card-deck">
	<div class="white-space-27px"></div>
	<catalog-card></catalog-card>
	<div class="white-space-27px"></div>
	<catalog-card></catalog-card>
	<div class="white-space-27px"></div>
	<catalog-card></catalog-card>
	<div class="white-space-27px"></div>
	<catalog-card></catalog-card>
	<div class="white-space-27px"></div>
	<catalog-card></catalog-card>
	<div class="white-space-27px"></div>
	<catalog-card></catalog-card>
	<div class="white-space-27px"></div>
	<catalog-card></catalog-card>
	<div class="white-space-27px"></div>
	<catalog-card></catalog-card>
	<div class="white-space-27px"></div>
	<catalog-card></catalog-card>
	<div class="white-space-27px"></div>
	<catalog-card></catalog-card>
	<div class="white-space-27px"></div>
	<catalog-card></catalog-card>
	<div class="white-space-27px"></div>
	<catalog-card></catalog-card>
</div>
