@import '../../../../styles/variables/colors';
@import '../../../../styles/variables/fonts';

.custom-day {
	text-align: center;
	padding: 0.3rem 0.25rem;
	display: inline-block;
	height: 2rem;
	width: 2rem;
	color: $abu-abu-gelap;
}

.custom-day.range {
	background-color: $color-primary;
	color: $putih-tok;
	// border-radius: 20px;
}

.custom-day.faded {
	background-color: rgba(219, 10, 42, 0.3);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	background-clip: content-box;
	color: #606060;
	border-radius: 0px !important;
}

.overlay {
	background-color: rgba(219, 10, 42, 0.3);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	background-clip: content-box;
	color: #606060;
	border-radius: 0px !important;
}

#date-picker-wrapper {
	width: 485px;
	background: #ffffff;
	border: 0.5px solid #a9a9a9;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 14px;
}

.arrow_size {
	width: 6px;
	height: 10.35px;
}

.month-name {
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	/* identical to box height */

	display: flex;
	align-items: center;
	text-align: center;

	/* light Grey */

	color: #a9a9a9;
}
