<div *ngIf="tampilkanSelesaiAbu2()"
	class="gray-label">SELESAI</div>

<div *ngIf="tampilkanSelesaiMerah()"
	class="red-label"
	(click)="confirmOrder()">SELESAI</div>

<div *ngIf="tampilkanBeliLagi()"
	class="red-label"
	(click)="ajukanLagi()">BELI LAGI</div>

<div *ngIf="tampilkanAjukanLagi()"
	class="red-label"
	(click)="ajukanLagi()">AJUKAN LAGI</div>

<div *ngIf="tampilkanCariSejenis()"
	class="red-label"
	(click)="cariSejenis()">CARI SEJENIS</div>


<!-- 
case 'ORDERED':
case 'PENDING':
case 'PROCESS':
case 'DELIVER':
	//TOMBOL 'SELESAI' ABU2

case 'RECEIVED':
	//TOMBOL 'SELESAI' MERAH
	
case 'CLOSED':
	//TOMBOL 'BELI LAGI' MERAH

case 'CANCEL':
case 'REJECTED':
			//TOMBOL 'AJUKAN LAGI' MERAH

case 'OUTOFSTOCK':
	//TOMBOL 'CARI SEJENIS' MERAH -->
