<block-ui>
	<div class="container">
		<div id="keranjang-label">DETAIL PEMESANAN</div>

		<wsv wide="20px"></wsv>
		<div class="d-flex">
			<div class="flex-grow-1 left-wrapper">

				<wsv wide="20px"></wsv>
				<div class="padding">
					<div class="d-flex justify-content-between">
						<div class="label-1">Request by: <span class="label-2">{{item?.requester_full_name}}</span>
						</div>
						<status-label [status]="item?.status"
							(konfirmasiSelesaiEvent)="confirmSelesaiOrder($event)"></status-label>
					</div>
					<wsv wide="15px"></wsv>
					<div class="d-flex justify-content-between pas">
						<div>
							<div class="label-1">Tgl. Pemesanan</div>
							<wsv wide="3px"></wsv>
							<div class="label-2">{{item?.requested_at|tanggal : 'tgl'}}</div>
						</div>
						<div>
							<div class="label-1">No. Pemesanan</div>
							<wsv wide="3px"></wsv>
							<div class="label-2">{{item?.order_code}}</div>
						</div>
						<div>
							<div class="label-1">Pengiriman & No. Resi</div>
							<wsv wide="3px"></wsv>
							<div class="label-2">{{item?.receipt_number}}</div>
						</div>
					</div>
				</div>

				<wsv wide="20px"></wsv>
				<horizontal-line></horizontal-line>

				<wsv wide="20px"></wsv>
				<div class="d-flex">
					<img src='{{item?.product_image}}'
						(error)="onImgError($event)"
						class="item-img">
					<div>
						<div class="label-2">{{item?.product_name}}</div>
						<wsv wide="7px"></wsv>
						<div class="label-4">{{item?.purchase_amount|rupiah}}</div>
						<wsv wide="7px"></wsv>
						<div *ngIf="item?.initial_quantity != item?.quantity"
							class="label-1 coret">Jumlah : {{item?.initial_quantity}} Barang</div>
						<div class="label-1">Jumlah :{{item?.quantity}} barang</div>
					</div>
					<wsh wide="150px"></wsh>
				</div>

				<wsv wide="20px"></wsv>
				<horizontal-line></horizontal-line>

				<wsv wide="20px"></wsv>
				<div class="padding">
					<status-alasan [item]="item"></status-alasan>
				</div>

				<wsv wide="20px"></wsv>
				<horizontal-line></horizontal-line>

				<wsv wide="20px"></wsv>
				<div class="padding d-flex justify-content-between">
					<div>
						<div class="label-1">Perkiraan Waktu Sampai:</div>
						<div class="label-2">{{estimateDeliveryTime(item)}}</div>
					</div>
					<div *ngIf="item?.initial_quantity != item?.quantity">
						<div class="label-1">Alasan:</div>
						<div class="label-4">
							<div>{{item?.quantity}} Barang di proses </div>
							<div>{{item?.initial_quantity - item?.quantity}} Barang Out of Stock </div>
						</div>
					</div>

				</div>

				<wsv wide="20px"></wsv>
				<horizontal-line></horizontal-line>
				<wsv wide="20px"></wsv>
				<div class="padding">
					<div class="label-1">Catatan Pengiriman:</div>
					<div class="label-2">{{item?.message}}</div>
				</div>

				<wsv wide="20px"></wsv>
			</div>

			<wsh wide="30px"></wsh>

			<status-pembelian [item]="item"></status-pembelian>
		</div>
		<div id="left-container">

			<div id="top-fixed"
				class="bg-10">
				<wsv wide="30px"></wsv>

				<!-- <div id="left-container"
					class="d-flex justify-content-start"
					style="width:700px;background: #FFFFFF;float:left;position: relative;
			box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
			border-radius: 10px;">

					<div class="d-flex flex-column">
						<div class="p-2">
							<detail-pesanan></detail-pesanan>
						</div>
						<div class="p-2">
							<status-pesanan></status-pesanan>
						</div>
					</div>







				</div>

				<wsh wide="20px"></wsh>

				<div id="right-container"
					class="d-flex justify-content-end"
					style="height:auto;min-height:510px;width:380px;background: #FFFFFF;float:left;
			box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
			border-radius: 10px;position: relative;float:right;">
					<rekap-tagihan></rekap-tagihan>
				</div> -->





			</div>
		</div>

	</div>

</block-ui>
