@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#item-image {
	height: 117px;
	width: 180px;
	object-fit: cover;
}
#item-list-name{
  color: #606060;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

#item-list-price{
  color: #F12627;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

#sub-header{
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #A9A9A9;
  font-size: 12px;
  line-height: 16px;
}

.flex-grow-1{
  width: 100vh;
  margin-left: 3%;
}
.form-check-label{
  margin-right: 10%;
}

.quantity{
  line-height: 37px;
}
.flex-row-reverse {
  padding-top: 19%;
  padding-right: 2%;
}
.item-spec-label {
	font-family: $primary-font;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 26px;

	color: #a9a9a9;
}
#item-desc-wrapper {
	width: 373px;
}
.rounded-gray {
  width: 703px;
  height: 178px;
  background: #FFFFFF;
  opacity: 0.5;
  border-radius: 10px;
}
#rounded-item-color {
	width: 12px;
	height: 12px;
	border: 0.5px solid #606060;
	border-radius: 6px;
}

.item-desc{
  width: 300px
}

#masking {
	opacity: 0.5;
	position: absolute;
	top: 0px;
	left: 0px;
}

#above-masking {
	background-color: transparent;
	position: absolute;
	top: 0px;
	left: 0px;
}

.transparent {
	background-color: transparent !important;
}

#out-of-stock {
	background: #fbb829;
	border-radius: 19px;
	width: 84px;
	height: 18px;

	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	line-height: 14px;

	color: #ffffff;
}

