<div class="d-flex">
	<div id="item-image">
		<img [src]="item?.product_image"
			alt="image"
			id="item-image"
			[ngClass]="classObj"
			(click)="goToDetail()"
			class="{{styles}}">
	</div>
	<div class="flex-grow-1 item-desc-wrapper">
		<div id="item-list-name"
			class="{{styles}}">
			<a class="{{styles}}">{{item?.product_name}} </a></div>
		<wsv wide="6px"></wsv>
		<div id="item-list-price">{{item?.sell_price|rupiah}}</div>
		<wsv wide="10px"></wsv>
		<div id=sub-header>
			<div class="d-flex align-items-center">
				<!-- <div class="item-spec-label">Warna</div>
				<wsh wide="8px"></wsh>
				<div id="rounded-item-color"
					style="background-color: #606060"></div>
				<wsh wide="16px"></wsh> -->

				<!-- <div class="item-spec-label">Berat: 2.400 gr.</div> -->
			</div>

			<div class="d-flex item-spec-label">
				<span>Jumlah {{item.quantity}} barang</span>
				<!-- <span style="color: red; text-align: right;">({{item.status}})</span> -->
			</div>
		</div>
	</div>
	<div>
	</div>
	<div id="masking"
		*ngIf="item.status !== 'OK'"
		class="rounded-gray">
	</div>

	<div id="above-masking"
		*ngIf="item.status !== 'OK'"
		class="rounded-gray">
		<div id="header"
			class="d-flex align-items-center">

		</div>
		<div id="content"
			class="d-flex transparent">
			<wsh wide="157px"></wsh>
			<div id="item-desc-wrapper"></div>
			<div class="d-flex flex-grow-1 flex-row-reverse align-items-end">
				<div>
					<div class="d-flex flex-row-reverse">
						<div id="out-of-stock"
							class="d-flex justify-content-center align-items-center">
							<!-- {{item.status}} -->
							OUT OF STOCK
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
