<div #myDrop="ngbDropdown"
	ngbDropdown
	(openChange)="checkDropDown($event)">
	<div ngbDropdownToggle
		autoClose="outside"
		id="wrapper-approval-item-summary-dropdown"
		class="d-flex">
		<div class="flex-grow-1 d-flex justify-content-center align-items-center"
			id="item-belum-diapprove">
			<span class="tautan">{{nApproval}}&nbsp;</span>
			<font class="tautan-hitam">Barang belum diapprove</font>
		</div>
		<div id="arrow-approval-wrapper"
			class="d-flex justify-content-center align-items-center">
			<img src="../../../../../assets/image/icons/arrow-down.png"
				id="drop-down-item-summary-arrow">
		</div>

		<div ngbDropdownMenu>


		</div>
	</div>
</div>

<div id="padding-right-for-scroll"
	[ngClass]="(open)?'':'visibility-hidden'">
	<wsv wide="15px"></wsv>
	<div class="scrollbar"
		id="style-2"
		#scrollMe>
		<div>
			<div *ngFor="let AddressELement of list;let i = index">
				<div id="item-row"
					class="d-flex justify-content-between {{AddressELement.address_name}} tautan-hitam"
					[ngClass]="selected == AddressELement ? 'selected'  : '' "
					(click)="click(AddressELement);myDrop.close();">
					<div class="item-dropdown-class">
						{{AddressELement.address_name}}
					</div>
					<div class="item-dropdown-class">
						{{AddressELement.request_total}} Barang
					</div>
				</div>
				<wsv wide="15px"></wsv>
			</div>
		</div>
	</div>

	<wsv wide="15px"></wsv>
</div>
