@import '../../../../styles/variables/colors';
@import '../../../../styles/variables/fonts';

#label-input-address {
	font-family: "verdana";
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 12px;
	display: flex;
	align-items: center;
	text-align: right;
	width:120px;

	/* #606060 */

	color: #606060;
}

span {
	color: $color-primary;
}
