<div class="d-flex justify-content-between align-items-center judulkonten">
    <div class="label-title">
        Data Bagian
    </div>
    <red-button label="+ Tambah Bagian"
        font="14px"
        paddingtop="10px"
        width="140px"
        paddingbottom="10px"
        paddingleft="0px"
        paddingright="0px"
        float="right"
        (click)="tambahBagian()"></red-button>
</div>
<wsv wide="80px"></wsv>

<div class="info-perusahaan-card-wrapper d-flex"
    style="padding-left:60px;padding-right:60px;">
    <div class="flex-grow-1">
        <div class="flex perusahaan-label"
            style="width:5%;float:left;text-align:right;">
            NO
        </div>
        <div style="width:5%;float:left;text-align:right;">&nbsp;</div>

        <div class="flex perusahaan-label"
            style="width:25%;float:left;">
            NAMA BAGIAN
        </div>
        <div class="flex perusahaan-label"
            style="width:12%;float:left;">
            KODEPMR
        </div>
        <div class="flex perusahaan-label"
            style="width:12%;float:left;">
            KODEBAGIAN
        </div>
        <div class="flex perusahaan-label"
            style="width:12%;float:left;">
            KODEGUDANG
        </div>
        <div class="flex perusahaan-label"
            style="width:12%;float:left;">
            KODELOKASI
        </div>
        <div class="flex perusahaan-label"
            style="width:12%;float:left;">
            PJAWAB
        </div>


        <wsv wide="20px"></wsv>
        <horizontal-line></horizontal-line>
        <wsv wide="12px"></wsv>
        <div class="d-flex">

        </div>
    </div>
    <div class="d-flex">
        <icon-edit></icon-edit>
        <wsh wide="16px"></wsh>
        <icon-hapus></icon-hapus>
        <wsh wide="16px"></wsh>
    </div>

</div>

<div *ngFor="let bagian of bagians; index as i"
    style="overflow: auto;">
    <info-bagian-card [index]="i"
        [bagian]="bagian"
        (editEvent)="editBagian(bagian)"
        (deleteEvent)="hapusBagian(bagian)">
    </info-bagian-card>
</div>
