<div class="kredit-wrapper">
	<div id="detail-data"
		class="d-flex flex-row bd-highlight mb-3">
		<div class="p-2 bd-highlight short center tebal">Tanggal</div>
		<div class="p-2 bd-highlight short center tebal">Jenis Transaksi</div>
		<div class="p-2 bd-highlight medium right tebal">Mutasi</div>
		<div class="p-2 bd-highlight medium center tebal">Sisa Kredit</div>
		<div class="p-2 bd-highlight long left tebal">Keterangan</div>
	</div>
	<div id="detail-data">
		<horizontal-line></horizontal-line>
	</div>



	<span *ngFor="let item of items">
		<kredit-data [item]="item"></kredit-data>
	</span>

</div>
