@import '../../../../../styles/variables/colors';
@import '../../../../../styles/variables/fonts';

#top-fixed {
	position: fixed;
	width: 1366px;
	background-color: $main-background;
	z-index: 1;
}

#keranjang-label {
	font-family: $primary-font;
	font-weight: bold;
	font-size: 24px;
	color: $abu-abu-gelap;
	margin-top: 25px;
}

#pilihsemua {
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	color: $color-primary;
	padding-left: 15px;
}

#terpilih {
	margin-left: 550px;
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	color: $color-primary;
}

#left-container {
	overflow: scroll;
}

#right-container {
	overflow: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#left-container::-webkit-scrollbar {
	display: none;
}

#right-container::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#scrollable-div {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

#div-cart-price {
	position: fixed;
	border: solid blueviolet 0px;
	top: 300px;
	right: 0px;
	height: 800px;
	padding-bottom: 300px;
}

#div-top-address {
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 80px;
	z-index: 1000;
	background-color: #e5e5e5;
}



.tautan{
	cursor: pointer;
}

@media (min-width: 1368px) {
	#horizontal-line {
		height: 0.5px;
		width: 100%;
		background-color: #a9a9a9;
		opacity: 0.6;
	}

	.hasembuh{
		width:100%;	
	}
}

@media (max-width: 1366px) {
	#horizontal-line {
		height: 0.5px;
		width: 80%;
		background-color: #a9a9a9;
		opacity: 0.6;
	}

	
	.hasembuh{
		width: 80%;
	}
}
