<block-ui>
	<div class="container">
		<div id="label1">APPROVAL</div>
		<div class="d-flex justify-content-center">
			<item-summary-dropdown [nApproval]="nNotApproved"
				[list]="listSummaryByAddress"
				[selected]="selectedAddress"
				(onSelect)="selectAddressGroup($event)"></item-summary-dropdown>
		</div>
		<wsv wide="10px"></wsv>
		<div class="d-flex">
			<div *ngFor="let item of listSummaryByAddress"
				class="item"
				style="padding-right: 20px;">
				<address-with-notif [item]="item"
					[selected]="selectedAddress"
					(onClick)="selectAddressGroup(item)">
				</address-with-notif>

			</div>
		</div>


	</div>

</block-ui>
